@import "reset", "hamburger";

:root {
    --swiper-navigation-sides-offset: -10px;
    --swiper-navigation-color: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
            #f16b11 0%,
            #f8da45 100%);
    --plyr-color-main: #222;

}

@function calcFluidFontSize($f-min, $f-max) {
    $v-min: 430;
    $v-max: 2000;
    $k: ($f-max - $f-min)/ ($v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b * 1px;

    @return calc(#{$k} * 100vw + #{$b});
}

html {
    overflow-x: hidden;
}

img {
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

body {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-size: 20px;
    overflow-x: hidden;
}

header,
section,
footer,
.in-container {
    padding: 0 max(150px, calc(50% - 700px));
    margin-bottom: calcFluidFontSize(70, 150);

    @media (max-width: 1400px) {
        padding: 0 max(80px, #{"calc(50% - 500px)"});
    }

    @media (max-width: 768px) {
        padding: 0 20px;
    }
}



.full_section {
    padding: 0;
}

.underline_animation {
    text-decoration: none;
    background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
            #f16b11 0%,
            #f8da45 100%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.4s;
}

.underline_animation:hover {
    background-size: 100% 3px;
}

.gradient-text {
    background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
            #f16b11 0%,
            #f8da45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.section-title {
    font-size: calcFluidFontSize(24, 40);
    font-weight: 700;
    margin-bottom: 50px;
}

h1.section-title {
    font-size: calcFluidFontSize(30, 55);
    margin: 0;
}

.primary-btn {
    display: block;
    position: relative;
    box-shadow: 0px 20px 20px rgba(255, 124, 3, 0.2);
    width: 390px;
    max-width: 100%;

    .content {
        font-size: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        background: radial-gradient(27.76% 55.52% at 50% -0.22%,
                #fff8b6 0%,
                rgba(247, 203, 75, 0) 100%),
            radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                #f19f39 0%,
                #f7cb4b 100%);

        background-blend-mode: overlay, normal;
        border-radius: 10px 10px 5px 5px;
        z-index: 2;
        bottom: 1px;
        transition: bottom 0.15s;
        font-weight: 900;
        font-size: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #c25e03;

        @media (max-width: 401px) {
            font-size: 18px;
        }
    }

    .bottom-part {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: -5px;
        border-radius: 0 0 10px 10px;
        background-color: #ff7c03;
        z-index: 1;
        left: 0;
    }

    &:hover {
        .content {
            bottom: -1px;
        }
    }

    &:active {
        .content {
            bottom: -5px;
        }
    }
}

input {
    display: block;
    padding: 20px 50px;
    text-align: center;
    width: 390px;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(255, 124, 3, 0.2);
    border-radius: 10px;
    color: #222;
    margin-bottom: 10px;
}

.plyr__controls {
    opacity: 0;
}

.plyr--playing .plyr__controls {
    opacity: 1;
}

header {
    margin-bottom: 0;
}

// ==================== Навбар ====================
.nav {
    z-index: 100;
    position: relative;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1500px) {
        font-size: 18px;
    }

    @media (max-width: 992px) {
        font-size: 20px;
    }

    .hamburger {
        display: none;
    }

    &__links {
        display: flex;
        gap: 30px;
        align-content: center;

        li {
            display: flex;
            align-items: center;
        }
    }

    &__contacts {
        display: flex;
        gap: 20px;
        align-items: center;

        .phone {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 30px;

            &__link {
                position: relative;
                font-size: 16px;

                &::after {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: -1px;
                    left: 0;
                    background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                            #f16b11 0%,
                            #f8da45 100%);
                }
            }

            @media (max-width: 1500px) {
                font-size: 20px;
            }

            @media (max-width: 992px) {
                font-size: 30px;
            }
        }

        .messengers {
            display: flex;
            flex-direction: column;
        }
    }

}

.menu {
    width: 66%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 1200px) {
    .menu {
        position: absolute;
        top: 82px;
        right: -150%;
        transition: right 0.4s;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 87px;
        background-color: rgb(34, 34, 34);
        padding: 20px;
        height: 100vh;
        width: 110vw;
        padding-left: 10vw;

        &.is-active {
            right: -10vw;
        }
    }

    .nav {
        .hamburger {
            display: block;
        }

        &__links {
            flex-direction: column;
            align-content: inherit;
            text-align: center;

            li {
                justify-content: center;
            }
        }

        &__contacts {
            flex-direction: column;
            gap: 87px;

            .phone {
                align-items: center;
                gap: 10px;
            }

            .messengers {
                flex-direction: row;
                justify-content: center;
                gap: 27px;

                img {
                    width: 41px;
                }
            }
        }
    }
}

// =================== Главная ====================
.hero {
    margin-bottom: 0;
    position: relative;
    padding-top: 170px;
    background-image: url(../media/hero.png);
    background-repeat: no-repeat;
    background-position: top -40px right 100px;
    min-height: 900px;
    overflow: hidden;
    z-index: 1;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .primary-btn {
            align-self: flex-start;
        }

        .capture {
            font-size: calcFluidFontSize(18, 30);
        }

        .blub {
            display: none;
        }
    }

    .money-main {
        position: absolute;
        right: 0;
        bottom: 0;
        width: calcFluidFontSize(300, 550);
        z-index: 10;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .key1 {
        position: absolute;
        left: 30vw;
        top: -100px;
        transform: rotate(-130deg);
        z-index: -1;
    }

    .key2 {
        position: absolute;
        left: 10px;
        bottom: 70px;
    }

    .money1,
    .money2 {
        display: none;
    }

    @media (max-width: 1600px) {
        background-position: top -40px right 0;
        background-size: 70%;
        padding-top: 150px;
    }

    @media (max-width: 1400px) {
        background-position: top -10% right -10px;
        padding-top: 100px;
        min-height: 780px;

        .key2 {
            position: absolute;
            left: 10px;
            bottom: 0;
        }
    }

    @media (max-width: 1200px) {
        padding-top: 750px;
        background-position: -60px 0;
        background-size: 100%;
        min-height: auto;
        padding-bottom: 50px;

        .key2,
        .key1 {
            display: none;
        }

        &__content {
            z-index: 1;
            position: relative;
            overflow: visible;
            background-position: 30% 20%;
            background-repeat: no-repeat;
            align-items: center;
            gap: 20px;

            .primary-btn {
                align-self: auto;
                width: min(100%, 400px);
            }

            .section-title {
                color: #222;
            }

            .blub {
                position: absolute;
                display: block;
                z-index: -1;
                top: -40%;
            }
        }
    }

    @media (max-width: 992px) {
        padding-top: 80%;
        background-size: 120%;
        background-position: 100% 0;

        &__content {
            .blub {
                min-width: 110%;
                top: auto;
                bottom: 40px;
            }
        }
    }

    @media (max-width: 768px) {
        padding-top: 100%;
        background-size: 150%;
        background-position: 72% 0;

        &__content {
            .blub {
                min-width: 130%;

            }
        }
    }

    @media (max-width: 576px) {
        .money1 {
            display: block;
            position: absolute;
            right: -50%;
            top: -100px;
            z-index: -1;
        }

        .money2 {
            display: block;
            position: absolute;
            left: -30px;
            top: -230px;
            z-index: -1;
        }

        &__content {
            .blub {
                min-width: 150%;

            }
        }
    }

    @media (max-width: 430px) {
        &__content {
            .blub {
                min-width: 180%;
                top: -70%;
            }
        }
    }

    @media (max-width: 450px) {
        &__content {
            .section-title {
                font-size: 28px;
            }
        }
    }

    @media (max-width: 373px) {
        &__content {
            .section-title {
                font-size: 26px;
            }
        }
    }
}

// =================== adventure ====================

.adventure {
    position: relative;
    z-index: 2;

    .blub {
        position: absolute;
        right: 0;
        top: -70%;
        z-index: -1;
        width: 700px;
        height: 1000px;

        background: radial-gradient(76.99% 76.94% at 18.15% 89.13%, #F16B11 0%, #F8DA45 100%);
        filter: blur(170px);
        transform: rotate(90deg);


        @media (max-width: 1200px) {
            right: -30%;
            top: 40%;
            height: 550px;
        }


        @media (max-width: 576px) {
            right: -70%;
        }

    }

    .chain {
        display: none;

        @media (max-width: 768px) {
            z-index: -1;
            display: block;
            position: absolute;
            bottom: -50%;
            left: -15%;
            max-width: 1000px;
        }

        @media (max-width: 576px) {
            max-width: 800px;
            bottom: -66%;
        }

        @media (max-width: 450px) {
            max-width: 650px;
            left: -18%;
            bottom: -52%;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .box {
            position: relative;
            padding: 50px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            border-radius: 20px;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 20px;
                padding: 2px;
                /* control the border thickness */
                background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                        #f16b11 0%,
                        #f8da45 100%);
                mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
            }

            &__name {
                margin: 0;
                font-size: 40px;
                font-weight: 700;

                @media (max-width: 1600px) {
                    font-size: calcFluidFontSize(18, 40);
                }
            }

            &__description {
                margin: 0;
                font-size: 20px;

                @media (max-width: 1600px) {
                    font-size: calcFluidFontSize(12, 20);
                }
            }
        }

        .cockroach-box {
            color: #222;
            background-color: #F8DA45;

            .box__name {
                font-size: 30px;

                @media (max-width: 1600px) {
                    font-size: calcFluidFontSize(18, 30);
                }
            }

            .box__description {
                max-width: 250px;
            }

            &::before {
                content: none;
            }

            .cockroach1 {
                position: absolute;
                transform: rotate(-2.13deg);
                top: -50px;
                right: -20px;
                width: calcFluidFontSize(48, 102);
                max-width: 102px;
            }

            .cockroach2 {
                position: absolute;
                transform: rotate(-12.37deg);
                bottom: -20px;
                right: 10px;
                width: calcFluidFontSize(48, 102);
                max-width: 102px;
            }
        }

        @media (max-width: 992px) {
            grid-template-columns: 1fr 1fr;
            gap: 5px;

            .box {
                padding: 28px 20px;
                gap: 5px;
            }

            .cockroach-box {
                grid-column-start: 1;
                grid-column-end: 3;

                .cockroach1 {
                    transform: rotate(12.37deg);
                    top: -40px;
                    right: 5px;
                }

                .cockroach2 {

                    bottom: -40px;
                    left: 5px;
                }
            }
        }

        @media (max-width: 576px) {
            .cockroach-box {
                .cockroach2 {
                    bottom: -25px;

                }
            }
        }
    }

    .characters {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;


        .character {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 100%;
                object-fit: contain;
            }
        }

        .count {
            display: flex;
            align-items: center;
            grid-area: count;

            .num {
                font-size: 200px;
                font-weight: 900;
            }

            .capture {
                margin-left: -3px;
                font-size: 30px;
                font-weight: 700;
                color: #fff;
            }
        }

        @media (max-width: 1200px) {
            display: grid;
            grid-template-areas: "a count b""c d e";
            gap: 30px;
            justify-content: center;

            .character {
                img {
                    width: calcFluidFontSize(100, 189);
                }
            }

            .count {
                flex-direction: column;

                .num {
                    margin: 0;
                    font-size: calcFluidFontSize(110, 200);
                }

                .capture {
                    text-align: center;
                    margin: 0;
                    font-size: calcFluidFontSize(18, 30);
                    margin-top: -40%;
                }
            }
        }
    }
}


// =================== events ====================

.events {
    z-index: 20;
    position: relative;

    .slider-wrapper {
        position: relative;
    }

    .money {
        position: absolute;
        right: 0;
        top: -130px;
        z-index: -1;
    }

    swiper-slide {
        position: relative;
        width: 335px;
        height: 335px;
        overflow: hidden;

        &>a {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &>a::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(34, 34, 34, 0) 75%, #222222 90%);
        }

        .capture {
            z-index: 1;
            position: absolute;
            bottom: 20px;
            font-size: 25px;
            width: 100%;
            text-align: center;
        }

        img {
            box-shadow: inset;
            border-radius: 10px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    }

    .navigation {

        .prev-arrow,
        .next-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: transform 0.4s;
            z-index: 100;

            &:hover {
                transform: translateY(-50%) scale(1.1);
            }

            &.swiper-button-disabled {
                opacity: 0.5;
            }
        }

        .prev-arrow {
            left: -2%;
        }

        .next-arrow {
            right: -2%;

            img {
                transform: rotate(180deg);
            }
        }

    }

    .pagination {
        display: none;
    }

    @media (max-width: 1400px) {
        .navigation {
            .prev-arrow {
                left: 3%;
            }

            .next-arrow {
                right: 3%;
            }
        }
    }

    @media (max-width: 1200px) {
        .section-title {
            padding: 0 20px;
        }

        padding: 0;
    }

    @media (max-width: 992px) {
        .money {
            display: none;
        }

        swiper-slide {
            min-width: 190px;
            width: 40vw;
            height: 300px;

            .capture {
                font-size: 18px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .navigation {
            display: none;
        }

        .pagination {
            display: flex;
            gap: 10px;
            padding: 0 30px;
            margin-top: 40px;

            .swiper-pagination-bullet {
                transition: all 0.4s;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                        #f16b11 0%,
                        #f8da45 100%);
            }

            .swiper-pagination-bullet-active {

                width: auto;
                flex-grow: 1;
            }
        }
    }
}

// =================== survey ====================
.survey {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../media/survey-bg.png);
    background-repeat: repeat-x;

    .key {
        display: none;
    }

    .section-title {
        margin: 0;
        z-index: 2;

        @media (max-width: 1600px) {
            max-width: 539px;
        }
    }

    .money {
        position: absolute;
        transform: scaleX(-1);
        left: -80px;
        width: 330px;
        z-index: 1;
    }

    .key {
        display: none;
    }

    .key3 {
        position: absolute;
        right: 0;
        transform: scaleX(-1);
        top: -30%;
    }

    .key2 {
        position: absolute;
        right: 100px;
        bottom: -100px;
    }

    @media (max-width: 1600px) {
        .key2 {
            position: absolute;
            right: 10%;
            bottom: 0;
        }
    }

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 992px) {
        margin-bottom: 70px;

        .money {
            top: 35%;
            width: 30vw;
        }

        .key3,
        .key2 {
            display: none;
        }

        .key {
            display: block;
            position: absolute;
            right: 0;
            top: -30%;
        }
    }

    @media (max-width: 576px) {
        text-align: left;

        .money {
            width: 40vw;
            left: -20px;
            top: 45%;
        }

        .primary-btn,
        .btn-wrapper {
            width: 100%;
        }
    }

    @media (max-width: 450px) {
        margin-bottom: 0;
    }

}

// =================== organization ====================
.organization {
    position: relative;
    z-index: 10;

    .grid {
        display: grid;
        grid-template-areas: "a a b b c c""d d d e e e";
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        ;

        .grid-item {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            height: calcFluidFontSize(200, 340);

            .capture {
                z-index: 1;
                color: #222;
                position: absolute;
                bottom: 20px;
                text-align: left;
                padding: 0 20px;
                width: 100%;
                font-size: calcFluidFontSize(16, 20);
            }

            img {
                z-index: 1;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: block;
                background: radial-gradient(162.15% 100% at 50% 100.1%, #F7CB4B 22.75%, rgba(241, 159, 57, 0) 59.72%);
                width: 100%;
                height: 100%;

            }
        }
    }

    @media (max-width: 992px) {
        .grid {
            grid-template-areas: "a b""c c""d e";
            gap: 10px;
        }
    }

    @media (max-width: 576px) {
        .grid {
            gap: 5px;
        }
    }

}

// =================== gallery ====================
.gallery {
    position: relative;

    .ellipse {
        z-index: -1;
        position: absolute;
        width: 50vw;
        height: 50vw;
        top: -40%;
        left: -20%;
        background: radial-gradient(76.99% 76.94% at 18.15% 89.13%, #F16B11 0%, #F8DA45 100%);
        filter: blur(195px);
        transform: rotate(90deg);

        @media (max-width: 992px) {
            top: 0;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .chain {
        z-index: -1;
        display: block;
        position: absolute;
        bottom: -23vw;
        max-width: 60vw;

        @media (max-width: 992px) {
            display: none;
        }
    }

    .chain1 {
        right: -10%;
        transform: rotate(5deg);
    }

    .chain2 {
        bottom: -20vw;
        left: -10%;
        transform: rotate(-30deg) scale(0.93);
    }

    swiper-slide {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;

        .slider-photos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px;

            .photo {
                border-radius: 20px;
            }
        }

        .slider-video {
            position: relative;
            box-sizing: border-box;
            max-height: calcFluidFontSize(250, 480);

            .plyr {
                border-radius: 20px;
                height: 100%;
                position: relative;
            }

            &::before {
                z-index: 10;
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 20px;
                padding: 4px;
                /* control the border thickness */
                background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                        #f16b11 0%,
                        #f8da45 100%);
                mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
            }
        }

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }

        @media (max-width: 768px) {
            gap: calcFluidFontSize(8, 20);

            .slider-photos {
                gap: calcFluidFontSize(8, 20);
            }
        }

    }

    .pagination {
        padding-bottom: 70px;
        display: flex;
        width: 100%;
        gap: 10px;
        max-width: 61%;
        margin: 0 auto;
        margin-top: 40px;

        .swiper-pagination-bullet {

            cursor: pointer;
            transition: all 0.7s;
            display: block;
            width: 50px;
            height: 5px;
            background: #FFFFFF;
            border-radius: 60px;
        }

        .swiper-pagination-bullet-active {
            width: auto;
            flex-grow: 1;
            background: radial-gradient(76.99% 76.94% at 18.15% 89.13%, #F16B11 0%, #F8DA45 100%);
        }

        @media (max-width: 992px) {
            padding-bottom: 0;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }

        @media (max-width: 576px) {

            display: flex;
            gap: 10px;
            padding: 0 30px;
            margin-top: 40px;

            .swiper-pagination-bullet {
                transition: all 0.4s;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                        #f16b11 0%,
                        #f8da45 100%);
            }

            .swiper-pagination-bullet-active {

                width: auto;
                flex-grow: 1;
            }

        }
    }
}


// =================== reserve ====================
.reserve {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background: radial-gradient(93.08% 82.6% at 50% 82.65%, #F16B11 0%, #F8DA45 100%);
    box-shadow: 0px 0px 150px #F8DA45;
    color: #222;

    padding: 70px max(150px, #{"calc(50% - 600px)"});

    @media (max-width: 1400px) {
        padding-left: max(100px, #{"calc(50% - 500px)"});
    }

    @media (max-width: 768px) {
        padding: 0 20px;
    }

    align-items: center;

    .section-title {
        margin-bottom: 20px;
    }

    .content {
        z-index: 10;
        position: relative;
    }

    .capture {
        font-size: calcFluidFontSize(16, 20);
    }

    .form {
        max-width: 100%;
    }

    .cockroach1 {
        position: absolute;
        transform: rotate(-87deg);
        top: -50px;
        right: 7%;
        z-index: 1;
    }

    .cockroach2 {
        position: absolute;
        transform: rotate(25deg);
        top: 40%;
        left: 35px;
        z-index: 1;
    }

    .cockroach3 {
        position: absolute;
        transform: rotate(143deg) scale(0.9);
        top: -40px;
        left: 30px;
        z-index: 1;
    }

    @media (max-width: 1400px) {
        .cockroach2 {
            top: 70%;
            left: 30px;
        }
    }

    @media (max-width: 992px) {
        padding: 70px 20px;
        flex-direction: column;
    }

    @media (max-width: 576px) {
        .cockroach2 {
            transform: rotate(25deg);
            top: -40px;
            right: 0;
            left: auto;
            width: 64px;
        }

        .cockroach1 {
            transform: rotate(-57deg);
            top: auto;
            bottom: -30px;
            width: 64px;
        }

        .cockroach3 {
            left: auto;
            right: -30px;
            top: 15%;
            width: 64px;
        }
    }

}

// =================== about ====================
.about {
    display: flex;
    gap: 40px;
    position: relative;

    .ellipse {
        z-index: -1;
        position: absolute;
        width: 70vw;
        height: 50vw;
        top: -40%;
        right: -20%;
        background: radial-gradient(76.99% 76.94% at 18.15% 89.13%, #F16B11 0%, #F8DA45 100%);
        filter: blur(195px);
        transform: rotate(90deg);

        @media (max-width: 768px) {
            top: -20%;
        }

        @media (max-width: 576px) {
            top: 0;

        }
    }

    .chain {
        display: none;

        @media (max-width: 768px) {
            z-index: -1;
            display: block;
            position: absolute;
            top: -50%;
            left: -15%;
            max-width: 1000px;
        }

        @media (max-width: 576px) {
            max-width: 800px;
            top: -25%;
        }

        @media (max-width: 450px) {
            max-width: 650px;
            left: -18%;
            bottom: -52%;
        }
    }

    &>.content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 50px 0;
        font-size: calcFluidFontSize(16, 20);

        .features {
            display: flex;
            justify-content: space-around;
            gap: 30px;
            align-items: center;

            .feature {
                text-align: center;

                .capture {
                    font-size: calcFluidFontSize(12, 20);
                }

                .icon {
                    line-height: 51px;
                    font-size: 33px;
                }
            }

        }

        .primary-btn {
            width: 330px;
            margin-top: 50px;
            height: 50px;

            .content {
                height: 100%;
                width: 100%;
            }
        }

        .section-title {
            margin: 0;
        }

        max-width: 50%;
    }

    .video {
        display: flex;
        align-items: center;
        width: 50%;


        .plyr {
            max-height: 480px;
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }


    }

    @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;

        &>.content {
            max-width: 70%;

            .primary-btn {
                margin: 0 auto;
            }
        }

        .video {
            max-width: 70%;
        }
    }

    @media (max-width: 576px) {
        &>.content {
            max-width: 100%;
            padding: 0;

            .primary-btn {
                margin: 0 auto;
                width: 100%;
            }
        }

        .video {
            max-width: 100%;
        }
    }
}

// =================== reviews ====================
.reviews {
    .swiper-reviews {
        swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .slider-content {
            pointer-events: none;
            max-height: 480px;
            border-radius: 20px;
            transition: transform 0.4s;
            transform: scale(0.8);
            overflow: hidden;
            max-height: 100%;
        }

        .plyr {
            width: 100%;
            height: 100%;
        }

        .swiper-slide-active {
            .slider-content {
                pointer-events: all;
                transform: scale(1);
            }
        }

        @media (max-width: 992px) {
            padding: 0 20px;
        }
    }

    .pagination {
        display: flex;
        width: 100%;
        gap: 10px;
        padding: 0 30px;
        max-width: 61%;
        margin: 0 auto;
        margin-top: 40px;

        .swiper-pagination-bullet {

            cursor: pointer;
            transition: all 0.7s;
            display: block;
            width: 50px;
            height: 5px;
            background: #FFFFFF;
            border-radius: 60px;
        }

        .swiper-pagination-bullet-active {
            width: auto;
            flex-grow: 1;
            background: radial-gradient(76.99% 76.94% at 18.15% 89.13%, #F16B11 0%, #F8DA45 100%);
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }

        @media (max-width: 576px) {

            display: flex;
            gap: 10px;
            padding: 0 30px;
            margin-top: 40px;

            .swiper-pagination-bullet {
                transition: all 0.4s;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background: radial-gradient(76.99% 76.94% at 18.15% 89.13%,
                        #f16b11 0%,
                        #f8da45 100%);
            }

            .swiper-pagination-bullet-active {

                width: auto;
                flex-grow: 1;
            }

        }
    }
}

// =================== feadback ====================

.feadback {
    display: flex;
    margin-bottom: 0;

    &>.content {
        overflow: hidden;
        position: relative;
        background: radial-gradient(79.53% 100% at 38.53% 100.03%, #F16B11 0%, #F8DA45 59.59%);
        width: 50%;
        padding: 80px 20px;
        padding-left: max(150px, calc(50% - 700px));
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: #222;

        .lilman {
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 30px;

            img {
                width: calcFluidFontSize(170, 190);
            }

            &::after {
                content: "";
                position: absolute;
                width: 518px;
                height: 482px;
                right: -150px;
                bottom: -370px;
                ;
                background: radial-gradient(93.08% 82.6% at 50% 82.65%, #F16B11 0%, #F8DA45 100%), radial-gradient(76.99% 76.94% at 18.15% 89.13%, #F16B11 0%, #F8DA45 100%);
                filter: blur(33.6585px);
                transform: rotate(90deg);

            }

            @media (max-width: 576px) {
                bottom: 130px;
            }

            @media (max-width: 470px) {
                right: 5px;
                bottom: 190px;
            }

            @media (max-width: 415px) {
                right: 5px;
                bottom: 200px;

                img {
                    width: 150px;
                }
            }

        }

        @media (max-width: 1200px) {

            input,
            .primary-btn {
                width: 330px;
            }
        }

        @media (max-width: 576px) {
            .text {
                max-width: 70%;
            }
        }

        .text {
            position: relative;
            z-index: 10;
            font-weight: 700;
            font-size: calcFluidFontSize(18, 30);
        }

        .capture {
            position: relative;
            z-index: 10;
            max-width: 70%;
            font-size: calcFluidFontSize(16, 20);
        }

        input,
        .primary-btn {
            position: relative;
            z-index: 10;
        }

        p,
        h2 {
            margin: 0;
        }

        h2.section-title {
            font-size: 40px;
        }

        @media (max-width: 1600px) {
            h2.section-title {
                font-size: calcFluidFontSize(24, 40);
            }
        }

        @media (max-width: 1200px) {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    .map {
        width: 50%;
    }

    @media (max-width: 992px) {
        display: grid;
        grid-template-rows: auto auto;

        &>.content {
            width: 100%;
            max-width: 100%;

            .form {
                max-width: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .map {
            width: 100%;
            height: 70vh;
        }
    }

    @media (max-width: 576px) {
        .form {
            align-items: unset;
        }

        .primary-btn {
            width: 100%;
        }

        input {
            width: 100%;
        }

        .map {
            height: 55vh;
        }
    }


}

// =================== footer ====================

footer {
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0;

    .grid {
        display: grid;
        grid-template-areas: "logo main holidays contacts socials";
        gap: 25px;
        justify-content: space-between;

        h6 {
            font-size: calcFluidFontSize(16, 20);
        }

        p,
        a,
        span {
            font-size: calcFluidFontSize(12, 20);
        }

        a {
            transition: color 0.4s;
            cursor: pointer;
        }

        a:hover {
            color: #f16b11;
        }

        .logo,
        .main,
        .holidays,
        .contacts,
        .socials,
        .text {
            display: flex;
            flex-direction: column;
            gap: calcFluidFontSize(15, 20);
        }

        .logo {
            margin-right: 50px;

            img {
                width: calcFluidFontSize(134, 250);
            }
        }

        .payment>p {
            margin-bottom: 15px;
        }

        .methods {
            display: grid;
            grid-template-columns: repeat(3, 80px);
            gap: 5px;


            .method {
                width: 80px;
                height: 30px;
            }
        }

        .socials {
            img {
                width: calcFluidFontSize(20, 30);
                height: calcFluidFontSize(20, 30);
            }

            .social {
                display: flex;
                gap: 10px;
            }
        }

        @media (max-width: 1200px) {
            grid-template-areas: "logo logo logo logo""main holidays contacts socials";
            row-gap: 40px;

            .logo {
                flex-direction: row;
                margin: 0;
                justify-content: space-between;
                align-items: center;

                .text {
                    gap: 5px;
                }
            }
        }

        @media (max-width: 768px) {
            grid-template-areas: "logo logo logo logo"
                "main holidays holidays holidays""contacts contacts contacts contacts""socials socials socials socials";
            gap: 40px;

            .holidays {
                .text {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }

            .contacts {
                .text {
                    flex-direction: row;
                }

                .payment {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .socials {
                .socials-wrapper {
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                }

                .social {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        @media (max-width: 576px) {
            .socials .socials-wrapper {
                gap: 10px;
                justify-content: space-between;

            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calcFluidFontSize(12, 20);
        padding-top: 40px;

        .gradient-text {
            font-size: calcFluidFontSize(12, 16);
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }
}
