@import "hamburger";

:root {
    --primary-color: #2a59ff;
    --text-color-dark: #252525;
    --text-color-light: #fff;
    --bg-color: #fff;
    --accent-bg-color: #e3edff;
}

body {
    font-family: "Onest";
    background-color: var(--bg-color);
    &.unscrollable {
        @media (max-width: 991px) {
            position: fixed;
            height: calc(var(--vh) * 100);
            width: 100%;
            overflow: hidden;
        }
    }
}
.desktop-only {
    @media (max-width: 991px) {
        display: none;
    }
}
.container {
    padding: 0 80px 0 80px;
    @media (max-width: 1300px) {
        padding: 0 35px 0 35px;
    }
}
.primary-btn {
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
    padding: 18px 30px;
    width: max-content;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--text-color-light);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
        background: var(--text-color-dark);
    }
}
.underline-animation {
    text-decoration: none;
    background-image: linear-gradient(
        var(--primary-color),
        var(--primary-color)
    );
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    &:hover {
        background-size: 100% 2px;
    }
}
.section-title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 575px) {
        font-size: 37px;
    }
}
//  ================ Шапка ================
header {
    padding-bottom: 50px;
    @media (max-width: 991px) {
        background: var(--accent-bg-color);
    }
    @media (max-width: 575px) {
        height: 60px;
        padding-bottom: 30px;
    }
}
.header__wrapper {
    z-index: 100;
    border-radius: 0px 0px 30px 30px;
    background: var(--bg-color);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    color: var(--text-color-dark);
    font-weight: 500;
    height: 80px;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
    .hamburger {
        display: none;
        @media (max-width: 1199px) {
            display: flex;
            height: 80px;
            align-items: center;
            margin-left: auto;
        }
    }
    &.is-active {
        @media (max-width: 575px) {
            border-radius: 0;
        }
        height: 400px;
        transition-delay: 0;
    }
    @media (max-width: 1199px) {
        will-change: height;
    }
    @media (max-width: 575px) {
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        &.is-active {
            height: calc(var(--vh) * 100);
        }
        .hamburger {
            height: 60px;
        }
    }
}
.nav {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    &__list {
        flex-grow: 2;
        font-size: 18px;
        display: inline-flex;
        align-items: flex-start;
        gap: 30px;
    }
    .contacts {
        a {
            text-decoration: none;
            color: inherit;
            line-height: 22px;
        }
        display: inline-flex;
        gap: 25px;
    }
    .socials {
        svg {
            cursor: pointer;
        }
    }
    &.is-active {
        transition-delay: 0.5s;
        overflow: visible;
        opacity: 1;
    }
    @media (max-width: 1199px) {
        padding-top: 40px;
        height: auto;
        overflow: hidden;
        opacity: 0;
        transition: opacity ease 0.5s;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 575px) {
        gap: 50px;
        &__list {
            flex-direction: column;
            align-items: center;
        }
        .contacts {
            flex-direction: column;
            align-items: center;
        }
        .socials {
            display: flex;
            gap: 15px;
        }
    }
}

//  ================ Секция hero ================
.hero {
    margin-bottom: 50px;
    height: 650px;
    &__warapper {
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        background: var(--accent-bg-color);
        border-radius: 30px;
        height: 100%;
        width: 100%;
        padding: 70px;
        display: flex;
        align-items: center;
        @media (max-width: 1300px) {
            padding: 35px;
        }
    }
    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 54%;
    }
    .text {
        display: flex;
        flex-direction: column;
        color: var(--primary-color);
        gap: 40px;
        .typed {
            padding: 5px;
            width: max-content;
            border-radius: 10px;
            background: var(--unnamed, #fff);
            font-family: Inter;
            font-size: 23px;
            font-weight: 500;
        }
        h1 {
            font-size: 65px;
            font-style: normal;
            font-weight: 500;
        }
        .capture {
            font-size: 20px;
            font-weight: 400;
            max-width: 520px;
            padding-bottom: 20px;
        }
        .btn {
            font-size: 21px;
            padding: 25px 40px;
        }
    }
    /* md-размер (<=991px) */
    @media (max-width: 991px) {
        position: relative;
        background: var(--accent-bg-color);
        height: auto;
        &__warapper {
            padding: 0;
            position: static;
            overflow: visible;
        }
        .text {
            .btn {
                margin-top: 350px;
                margin-bottom: 50px;
                z-index: 20;
            }
        }
        &__img {
            max-width: 95%;
        }
    }
    /* sm-размер (<=768px) */
    @media (max-width: 767px) {
        .text {
            gap: 30px;
            .typed {
                font-size: 20px;
            }
            h1 {
                font-size: 55px;
            }
            .capture {
                color: var(--text-color-dark);
                max-width: 400px;
            }
        }
    }
    @media (max-width: 575px) {
        &__img {
            max-width: 110%;
        }
        .text {
            gap: 20px;
            max-width: 100%;
            .typed {
                font-size: 14px;
                padding: 7px;
            }
            h1 {
                font-size: 37px;
            }
            .capture {
                font-size: 16px;
                max-width: 281px;
            }
            .btn {
                margin-top: 300px;
                margin-bottom: 40px;
            }
        }
    }
    @media (max-width: 390px) {
        .text {
            .btn {
                margin-top: 250px;
                margin-bottom: 40px;
            }
        }
    }
}

//  ================ Партнеры ================
.partners {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6vw;
        img {
            max-width: 45%;
        }
        left: unset;
        @media (max-width: 1300px) {
            gap: max(25px, 3vw);
            flex-wrap: wrap;
        }
    }
}
//  ================ Обо мне ================
.about {
    display: grid;
    grid-template-areas: "text image" "text image" "btn image";
    column-gap: 60px;
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 90px;
    padding-top: 140px;
    position: relative;
    overflow: visible;
    z-index: 100;
    .bg {
        position: absolute;
        background-image: url(../assets/bg-net.png);
        background-position: top 32% right 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    .title-text {
        padding: 0 20px;
        grid-area: text;
        p {
            max-width: 465px;
        }
    }
    .image-text {
        grid-area: image;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        p {
            max-width: 620px;
        }
    }
    .btn-wrapper {
        padding: 20px;
        grid-area: btn;
        display: flex;
        align-items: end;
    }
    .img-wrapper {
        margin-bottom: 50px;
        width: min(45vw, 511px);
        position: relative;
        img {
            max-width: 100%;
        }
        .img-tip {
            color: var(--text-color-dark);
            box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.06);
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 25px;
            background: var(--color);
            top: var(--top, unset);
            bottom: var(--bottom, unset);
            left: var(--left, unset);
            right: var(--right, unset);
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
            .number {
                width: 100%;
                text-align: left;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
            }
            .capture {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 991px) {
        grid-template-areas: "text" "image" "btn";
        grid-template-columns: 1fr;
        p {
            max-width: 100% !important;
        }
        .image-text {
            align-items: center;
        }
        .img-wrapper {
            width: min(511px, 100%);
        }
        .title-text {
            margin-bottom: 30px;
            padding: 0;
        }
        .btn-wrapper {
            padding: 0;
        }
    }
    @media (max-width: 575px) {
        padding-top: 70px;
        .bg {
            background-position: top 46% right 0;
            opacity: 0.4;
        }

        p {
            font-size: 14px;
            line-height: 20px;
        }
        .img-wrapper {
            .img-tip {
                width: 85px;
                height: 85px;
                padding: 14px;
                .number {
                    font-size: 26px;
                }
                .capture {
                    font-size: 12px;
                }
            }
        }
    }
}
//  ================ Услуги ================
.services {
    &-wrapper {
        background-color: var(--text-color-dark);
        border-radius: 30px;
        padding: 90px 70px;
        color: var(--text-color-light);
        background-image: url(../assets/Group.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &__list {
        margin-top: 50px;
        --gap: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        .card {
            width: calc(50% - (var(--gap) / 2));
            background-color: #fff;
            padding: 30px;
            box-sizing: border-box;
            color: var(--text-color-dark);
            border-radius: 20px;
            display: grid;
            grid-template-areas: "title price" "time ." "text text" "btn .";
            &__title {
                grid-area: title;
                font-size: 23px;
                font-style: normal;
                font-weight: 500;
            }
            &__time {
                grid-area: time;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                margin-top: 5px;
            }
            &__price {
                font-family: Inter;
                text-align: right;
                grid-area: price;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
            }
            &__content {
                line-height: 28px;
                margin: 20px 0;
                grid-area: text;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
            }
            .btn {
                grid-area: btn;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Onest;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }
    @media (max-width: 1199px) {
        &__list {
            .card {
                padding: 20px;
                grid-template-areas: "title title" "time time" "text text" "btn price";
                grid-template-columns: 1fr 1fr;
                &__price {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }
                &__time {
                    opacity: 0.5;
                    margin-bottom: 10px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        &-wrapper {
            padding: 60px 35px;
            background-repeat: repeat-y;
        }
        &__list {
            --gap: 25px;
            .card {
                &__content {
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding: 0;
        &-wrapper {
            overflow: hidden;
            border-radius: 0;
            padding: 40px 0;
        }
        .section-title {
            padding-left: 30px;
        }
        &__list {
            overflow-x: scroll;
            padding: 0 30px;
            padding-bottom: 30px;
            flex-wrap: nowrap;
            gap: 10px;

            .card {
                .btn {
                    border-radius: 15px;
                    height: 45px;
                    box-sizing: border-box;
                }
                min-width: 320px;
                &__title {
                    font-size: 27px;
                }
                &__time {
                    font-size: 12px;
                }
                &__price {
                    font-size: 14px;
                }
                &__content {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

//  ================ Клиенты ================
.clients {
    margin-top: 130px;
    margin-bottom: 90px;
    .section-title {
        text-align: center;
        @media (max-width: 991px) {
            font-size: 50px;
        }
    }
    .splide {
        margin-top: 70px;
        &__slide {
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .avatar {
                border-radius: 35px;
                width: 124px;
                height: 124px;
            }
            .content {
                margin-top: 30px;
                margin-bottom: 40px;
                max-width: 610px;
                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; /* 156.25% */
            }
            .name {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            }
            .speciality {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }
        &__arrows {
            @media (max-width: 991px) {
                display: none;
            }
        }
        &__arrow {
            transition: all ease 0.3s;
            position: absolute;
            z-index: 100;
            cursor: pointer;
            top: 50%;
            translate: -50%, -50%;
            width: 59px;
            height: 59px;
            background-color: #fff;
            border-radius: 0;
            outline: none;
            text-decoration: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            &[disabled] {
                opacity: 0.8;
            }
            &:hover {
                scale: 1.1;
            }
            &--next {
                right: 10%;
            }
            &--prev {
                left: 10%;
            }
            @media (max-width: 1199px) {
                &--next {
                    right: 5%;
                }
                &--prev {
                    left: 5%;
                }
            }
        }
        &__pagination {
            gap: 10px;
            &__page {
                cursor: pointer;
                border: 0;
                border-radius: 50%;
                display: inline-block;
                height: 8px;
                padding: 0;
                position: relative;
                transition: background-color 0.2s ease;
                width: 7px;
                background-color: #d9d9d9;
                &.is-active {
                    background-color: var(--primary-color);
                }
            }
        }
    }
    @media (max-width: 767px) {
        margin-top: 40px;
        .section-title {
            font-size: 37px;
            margin: 0;
        }
        .splide {
            margin-top: 50px;
        }
    }
    @media (max-width: 575px) {
        .section-title {
            font-size: 27px;
            max-width: 175px;
            margin: 0 auto;
        }
        .splide {
            margin-top: 30px;
            &__slide {
                .avatar {
                    width: 87px;
                    height: 87px;
                    border-radius: 17px;
                }
                .content {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    font-size: 14px;
                    line-height: 20px;
                }
                .name {
                    font-size: 14px;
                }
                .speciality {
                    font-size: 12px;
                }
            }
        }
    }
}
//  ================ Проекты ================
.proects {
    margin-bottom: 90px;
    &__wrapper {
        border-radius: 30px;
        background-color: var(--accent-bg-color);
        padding: 80px 70px;
        @media (max-width: 991px) {
            padding: 50px 35px;
        }
    }
    .filter-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .filter {
            transition: all 0.3s ease;
            cursor: pointer;
            padding: 0 25px;
            height: 40px;
            border: none;
            border-radius: 25px;
            background: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid var(--accent-bg-color);
            &:hover {
                color: var(--primary-color);
            }
            &.active {
                margin: 0;
                color: var(--primary-color);
                border: 1px solid var(--primary-color);
                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M1 1L7 7' stroke='black'/%3E%3Cpath d='M1 7L7 1' stroke='black'/%3E%3C/svg%3E");
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
    &__list {
        margin-left: -30px;
        margin-top: 50px;

        .card {
            border-radius: 20px;
            width: calc(33% - 30px);
            margin-left: 30px;
            margin-bottom: 30px;
            padding: 27px 38px;
            box-sizing: border-box;
            background-color: #fff;
            .title {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                margin-top: 15px;
                margin-bottom: 10px;
                line-height: 150%;
            }
            .content {
                line-height: 150%;
                font-size: 16px;
                font-weight: 400;
            }
            @media (max-width: 1199px) {
                width: calc(50% - 30px);
            }
            @media (max-width: 991px) {
                padding: 20px 30px;
            }
        }
        @media (max-width: 767px) {
            margin-left: -10px;
            .card {
                width: 300px;
                margin-left: 10px;
                margin-bottom: 0;
                .content {
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding: 0;
        margin-bottom: 50px;
        .section-title {
            font-size: 27px;
            padding: 0 35px;
        }
        &__wrapper {
            padding: 40px 0;
            padding-bottom: 20px;
        }
        .list-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0 35px;
            margin-top: 30px;
        }
        &__list {
            margin-top: 0;
        }
        .filter-btns {
            padding: 0 35px;
            .filter {
                font-size: 16px;
            }
        }
    }
}
//  ================ Достижения ================
.achievements {
    padding: 0 calc(50% - 570px);
    padding-bottom: 90px;

    .splide {
        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
            }
        }
        &__arrow {
            transition: all ease 0.3s;
            position: absolute;
            z-index: 100;
            cursor: pointer;
            top: 50%;
            translate: -50%, -50%;
            width: 59px;
            height: 59px;
            background-color: var(--primary-color);
            border-radius: 0;
            outline: none;
            text-decoration: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            &[disabled] {
                opacity: 0.8;
            }
            &:hover {
                scale: 1.1;
            }
            &--next {
                right: -2%;
            }
            &--prev {
                left: -2%;
            }
        }
        &__pagination {
            gap: 10px;
            &__page {
                cursor: pointer;
                border: 0;
                border-radius: 50%;
                display: inline-block;
                height: 8px;
                padding: 0;
                position: relative;
                transition: background-color 0.2s ease;
                width: 7px;
                background-color: #d9d9d9;
                &.is-active {
                    background-color: var(--primary-color);
                }
            }
        }
    }
    @media (max-width: 1199px) {
        padding: 0 35px;
        padding-bottom: 90px;
        .splide {
            &__slide {
                img {
                    max-width: calc(33vw - 45px);
                }
            }
        }
    }
    @media (max-width: 767px) {
        .splide {
            &__slide {
                padding-bottom: 40px;
                img {
                    max-width: calc(50vw - 45px);
                }
            }
        }
    }
}
//  ================ Обратная связь ================
.feedback {
    color: var(--text-color-light);
    padding-bottom: 100px;

    &__wrapper {
        background-color: var(--text-color-dark);
        background-image: url(../assets/bg-planet.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        border-radius: 30px;
        padding: 80px max(80px, calc(50% - 570px));
        display: flex;
        justify-content: space-between;
        @media (max-width: 1300px) {
            padding: 80px 35px;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    h2 {
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 55px;
        margin: 0;
    }
    .capture {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        a {
            width: fit-content;
        }
    }
    .socials-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin-top: 60px;
    }
    .form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 50%;
        box-sizing: border-box;
        input,
        textarea {
            &::placeholder {
                color: var(--text-color-light);
            }
            outline: none;
            resize: none;
            color: var(--text-color-light);
            background-color: transparent;
            padding-bottom: 15px;
            border: none;
            border-bottom: 2px solid #fff;
            box-shadow: 0px 5px 10px 0px rgba(34, 34, 34, 0.1) inset;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
        .btn {
            width: 100%;
            border: none;
            outline: none;
            font-weight: 500;
        }
        .terms {
            font-size: 12px;
            font-weight: 400;
            a {
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 1199px) {
        position: relative;
        padding: 0;
        &__wrapper {
            border-radius: 0;
        }
        .bg-fixer {
            position: absolute;
            width: 32px;
            height: 32px;
            background-color: var(--text-color-dark);
            bottom: 0;
            left: 0;
            border-top-right-radius: 30px;
        }
    }
    @media (max-width: 991px) {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
        .form {
            max-width: 100%;
        }
        .contacts {
            gap: 10px;
        }
        .socials-wrapper {
            margin-top: 0;
            flex-direction: column;
            align-items: start;
        }
        .text {
            gap: 25px;
        }
    }
    @media (max-width: 575px) {
        padding-bottom: 0;
        &__wrapper {
            background-position: bottom 0 left 70%;
            padding-bottom: 20px;
        }
        .form {
            padding: 0;
        }
        h2 {
            font-size: 37px;
            line-height: 43px;
        }
        .capture {
            font-size: 14px;

            line-height: 20px;
        }
        .socials-wrapper {
            font-size: 16px;
        }
    }
}
.footer {
    display: none;
    @media (max-width: 575px) {
        background-color: var(--text-color-dark);
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        color: var(--accent-bg-color);
    }
}
