@charset "UTF-8";
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #2a59ff;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  width: 40px;
  height: 2px;
  background-color: #2a59ff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger .hamburger-inner::before {
  top: -10px;
}
.hamburger .hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.5s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

:root {
  --primary-color: #2a59ff;
  --text-color-dark: #252525;
  --text-color-light: #fff;
  --bg-color: #fff;
  --accent-bg-color: #e3edff;
}

body {
  font-family: "Onest";
  background-color: var(--bg-color);
}
@media (max-width: 991px) {
  body.unscrollable {
    position: fixed;
    height: calc(var(--vh) * 100);
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .desktop-only {
    display: none;
  }
}

.container {
  padding: 0 80px 0 80px;
}
@media (max-width: 1300px) {
  .container {
    padding: 0 35px 0 35px;
  }
}

.primary-btn {
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  padding: 18px 30px;
  width: max-content;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--primary-color);
  color: var(--text-color-light);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  transition: all ease 0.3s;
}
.primary-btn:hover {
  background: var(--text-color-dark);
}

.underline-animation {
  text-decoration: none;
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.underline-animation:hover {
  background-size: 100% 2px;
}

.section-title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .section-title {
    font-size: 37px;
  }
}

header {
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  header {
    background: var(--accent-bg-color);
  }
}
@media (max-width: 575px) {
  header {
    height: 60px;
    padding-bottom: 30px;
  }
}

.header__wrapper {
  z-index: 100;
  border-radius: 0px 0px 30px 30px;
  background: var(--bg-color);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  color: var(--text-color-dark);
  font-weight: 500;
  height: 80px;
  transition: all ease 0.5s;
  transition-delay: 0.3s;
}
.header__wrapper .hamburger {
  display: none;
}
@media (max-width: 1199px) {
  .header__wrapper .hamburger {
    display: flex;
    height: 80px;
    align-items: center;
    margin-left: auto;
  }
}
.header__wrapper.is-active {
  height: 400px;
  transition-delay: 0;
}
@media (max-width: 575px) {
  .header__wrapper.is-active {
    border-radius: 0;
  }
}
@media (max-width: 1199px) {
  .header__wrapper {
    will-change: height;
  }
}
@media (max-width: 575px) {
  .header__wrapper {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__wrapper.is-active {
    height: calc(var(--vh) * 100);
  }
  .header__wrapper .hamburger {
    height: 60px;
  }
}

.nav {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.nav__list {
  flex-grow: 2;
  font-size: 18px;
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
}
.nav .contacts {
  display: inline-flex;
  gap: 25px;
}
.nav .contacts a {
  text-decoration: none;
  color: inherit;
  line-height: 22px;
}
.nav .socials svg {
  cursor: pointer;
}
.nav.is-active {
  transition-delay: 0.5s;
  overflow: visible;
  opacity: 1;
}
@media (max-width: 1199px) {
  .nav {
    padding-top: 40px;
    height: auto;
    overflow: hidden;
    opacity: 0;
    transition: opacity ease 0.5s;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .nav {
    gap: 50px;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .nav .contacts {
    flex-direction: column;
    align-items: center;
  }
  .nav .socials {
    display: flex;
    gap: 15px;
  }
}

.hero {
  margin-bottom: 50px;
  height: 650px;
  /* md-размер (<=991px) */
  /* sm-размер (<=768px) */
}
.hero__warapper {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: var(--accent-bg-color);
  border-radius: 30px;
  height: 100%;
  width: 100%;
  padding: 70px;
  display: flex;
  align-items: center;
}
@media (max-width: 1300px) {
  .hero__warapper {
    padding: 35px;
  }
}
.hero__img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 54%;
}
.hero .text {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  gap: 40px;
}
.hero .text .typed {
  padding: 5px;
  width: max-content;
  border-radius: 10px;
  background: var(--unnamed, #fff);
  font-family: Inter;
  font-size: 23px;
  font-weight: 500;
}
.hero .text h1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
}
.hero .text .capture {
  font-size: 20px;
  font-weight: 400;
  max-width: 520px;
  padding-bottom: 20px;
}
.hero .text .btn {
  font-size: 21px;
  padding: 25px 40px;
}
@media (max-width: 991px) {
  .hero {
    position: relative;
    background: var(--accent-bg-color);
    height: auto;
  }
  .hero__warapper {
    padding: 0;
    position: static;
    overflow: visible;
  }
  .hero .text .btn {
    margin-top: 350px;
    margin-bottom: 50px;
    z-index: 20;
  }
  .hero__img {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  .hero .text {
    gap: 30px;
  }
  .hero .text .typed {
    font-size: 20px;
  }
  .hero .text h1 {
    font-size: 55px;
  }
  .hero .text .capture {
    color: var(--text-color-dark);
    max-width: 400px;
  }
}
@media (max-width: 575px) {
  .hero__img {
    max-width: 110%;
  }
  .hero .text {
    gap: 20px;
    max-width: 100%;
  }
  .hero .text .typed {
    font-size: 14px;
    padding: 7px;
  }
  .hero .text h1 {
    font-size: 37px;
  }
  .hero .text .capture {
    font-size: 16px;
    max-width: 281px;
  }
  .hero .text .btn {
    margin-top: 300px;
    margin-bottom: 40px;
  }
}
@media (max-width: 390px) {
  .hero .text .btn {
    margin-top: 250px;
    margin-bottom: 40px;
  }
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
  left: unset;
}
.partners__list img {
  max-width: 45%;
}
@media (max-width: 1300px) {
  .partners__list {
    gap: max(25px, 3vw);
    flex-wrap: wrap;
  }
}

.about {
  display: grid;
  grid-template-areas: "text image" "text image" "btn image";
  column-gap: 60px;
  row-gap: 30px;
  justify-content: center;
  margin-bottom: 90px;
  padding-top: 140px;
  position: relative;
  overflow: visible;
  z-index: 100;
}
.about .bg {
  position: absolute;
  background-image: url(../assets/bg-net.png);
  background-position: top 32% right 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about p {
  font-size: 16px;
  line-height: 24px;
}
.about .title-text {
  padding: 0 20px;
  grid-area: text;
}
.about .title-text p {
  max-width: 465px;
}
.about .image-text {
  grid-area: image;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.about .image-text p {
  max-width: 620px;
}
.about .btn-wrapper {
  padding: 20px;
  grid-area: btn;
  display: flex;
  align-items: end;
}
.about .img-wrapper {
  margin-bottom: 50px;
  width: min(45vw, 511px);
  position: relative;
}
.about .img-wrapper img {
  max-width: 100%;
}
.about .img-wrapper .img-tip {
  color: var(--text-color-dark);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background: var(--color);
  top: var(--top, unset);
  bottom: var(--bottom, unset);
  left: var(--left, unset);
  right: var(--right, unset);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
.about .img-wrapper .img-tip .number {
  width: 100%;
  text-align: left;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.about .img-wrapper .img-tip .capture {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 991px) {
  .about {
    grid-template-areas: "text" "image" "btn";
    grid-template-columns: 1fr;
  }
  .about p {
    max-width: 100% !important;
  }
  .about .image-text {
    align-items: center;
  }
  .about .img-wrapper {
    width: min(511px, 100%);
  }
  .about .title-text {
    margin-bottom: 30px;
    padding: 0;
  }
  .about .btn-wrapper {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .about {
    padding-top: 70px;
  }
  .about .bg {
    background-position: top 46% right 0;
    opacity: 0.4;
  }
  .about p {
    font-size: 14px;
    line-height: 20px;
  }
  .about .img-wrapper .img-tip {
    width: 85px;
    height: 85px;
    padding: 14px;
  }
  .about .img-wrapper .img-tip .number {
    font-size: 26px;
  }
  .about .img-wrapper .img-tip .capture {
    font-size: 12px;
  }
}

.services-wrapper {
  background-color: var(--text-color-dark);
  border-radius: 30px;
  padding: 90px 70px;
  color: var(--text-color-light);
  background-image: url(../assets/Group.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.services__list {
  margin-top: 50px;
  --gap: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.services__list .card {
  width: calc(50% - var(--gap) / 2);
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  color: var(--text-color-dark);
  border-radius: 20px;
  display: grid;
  grid-template-areas: "title price" "time ." "text text" "btn .";
}
.services__list .card__title {
  grid-area: title;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
}
.services__list .card__time {
  grid-area: time;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}
.services__list .card__price {
  font-family: Inter;
  text-align: right;
  grid-area: price;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.services__list .card__content {
  line-height: 28px;
  margin: 20px 0;
  grid-area: text;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.services__list .card .btn {
  grid-area: btn;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 1199px) {
  .services__list .card {
    padding: 20px;
    grid-template-areas: "title title" "time time" "text text" "btn price";
    grid-template-columns: 1fr 1fr;
  }
  .services__list .card__price {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .services__list .card__time {
    opacity: 0.5;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .services-wrapper {
    padding: 60px 35px;
    background-repeat: repeat-y;
  }
  .services__list {
    --gap: 25px;
  }
  .services__list .card__content {
    font-size: 16px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 0;
  }
  .services-wrapper {
    overflow: hidden;
    border-radius: 0;
    padding: 40px 0;
  }
  .services .section-title {
    padding-left: 30px;
  }
  .services__list {
    overflow-x: scroll;
    padding: 0 30px;
    padding-bottom: 30px;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .services__list .card {
    min-width: 320px;
  }
  .services__list .card .btn {
    border-radius: 15px;
    height: 45px;
    box-sizing: border-box;
  }
  .services__list .card__title {
    font-size: 27px;
  }
  .services__list .card__time {
    font-size: 12px;
  }
  .services__list .card__price {
    font-size: 14px;
  }
  .services__list .card__content {
    font-size: 14px;
    line-height: 20px;
  }
}

.clients {
  margin-top: 130px;
  margin-bottom: 90px;
}
.clients .section-title {
  text-align: center;
}
@media (max-width: 991px) {
  .clients .section-title {
    font-size: 50px;
  }
}
.clients .splide {
  margin-top: 70px;
}
.clients .splide__slide {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.clients .splide__slide .avatar {
  border-radius: 35px;
  width: 124px;
  height: 124px;
}
.clients .splide__slide .content {
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 610px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.clients .splide__slide .name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.clients .splide__slide .speciality {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 991px) {
  .clients .splide__arrows {
    display: none;
  }
}
.clients .splide__arrow {
  transition: all ease 0.3s;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 50%;
  translate: -50%, -50%;
  width: 59px;
  height: 59px;
  background-color: #fff;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
}
.clients .splide__arrow[disabled] {
  opacity: 0.8;
}
.clients .splide__arrow:hover {
  scale: 1.1;
}
.clients .splide__arrow--next {
  right: 10%;
}
.clients .splide__arrow--prev {
  left: 10%;
}
@media (max-width: 1199px) {
  .clients .splide__arrow--next {
    right: 5%;
  }
  .clients .splide__arrow--prev {
    left: 5%;
  }
}
.clients .splide__pagination {
  gap: 10px;
}
.clients .splide__pagination__page {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  padding: 0;
  position: relative;
  transition: background-color 0.2s ease;
  width: 7px;
  background-color: #d9d9d9;
}
.clients .splide__pagination__page.is-active {
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  .clients {
    margin-top: 40px;
  }
  .clients .section-title {
    font-size: 37px;
    margin: 0;
  }
  .clients .splide {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .clients .section-title {
    font-size: 27px;
    max-width: 175px;
    margin: 0 auto;
  }
  .clients .splide {
    margin-top: 30px;
  }
  .clients .splide__slide .avatar {
    width: 87px;
    height: 87px;
    border-radius: 17px;
  }
  .clients .splide__slide .content {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
  }
  .clients .splide__slide .name {
    font-size: 14px;
  }
  .clients .splide__slide .speciality {
    font-size: 12px;
  }
}

.proects {
  margin-bottom: 90px;
}
.proects__wrapper {
  border-radius: 30px;
  background-color: var(--accent-bg-color);
  padding: 80px 70px;
}
@media (max-width: 991px) {
  .proects__wrapper {
    padding: 50px 35px;
  }
}
.proects .filter-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.proects .filter-btns .filter {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0 25px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--accent-bg-color);
}
.proects .filter-btns .filter:hover {
  color: var(--primary-color);
}
.proects .filter-btns .filter.active {
  margin: 0;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.proects .filter-btns .filter.active::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M1 1L7 7' stroke='black'/%3E%3Cpath d='M1 7L7 1' stroke='black'/%3E%3C/svg%3E");
  position: relative;
  top: -1px;
}
.proects__list {
  margin-left: -30px;
  margin-top: 50px;
}
.proects__list .card {
  border-radius: 20px;
  width: calc(33% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 27px 38px;
  box-sizing: border-box;
  background-color: #fff;
}
.proects__list .card .title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 150%;
}
.proects__list .card .content {
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  .proects__list .card {
    width: calc(50% - 30px);
  }
}
@media (max-width: 991px) {
  .proects__list .card {
    padding: 20px 30px;
  }
}
@media (max-width: 767px) {
  .proects__list {
    margin-left: -10px;
  }
  .proects__list .card {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  .proects__list .card .content {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .proects {
    padding: 0;
    margin-bottom: 50px;
  }
  .proects .section-title {
    font-size: 27px;
    padding: 0 35px;
  }
  .proects__wrapper {
    padding: 40px 0;
    padding-bottom: 20px;
  }
  .proects .list-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 35px;
    margin-top: 30px;
  }
  .proects__list {
    margin-top: 0;
  }
  .proects .filter-btns {
    padding: 0 35px;
  }
  .proects .filter-btns .filter {
    font-size: 16px;
  }
}

.achievements {
  padding: 0 calc(50% - 570px);
  padding-bottom: 90px;
}
.achievements .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievements .splide__slide img {
  max-width: 100%;
}
.achievements .splide__arrow {
  transition: all ease 0.3s;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 50%;
  translate: -50%, -50%;
  width: 59px;
  height: 59px;
  background-color: var(--primary-color);
  border-radius: 0;
  outline: none;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
}
.achievements .splide__arrow[disabled] {
  opacity: 0.8;
}
.achievements .splide__arrow:hover {
  scale: 1.1;
}
.achievements .splide__arrow--next {
  right: -2%;
}
.achievements .splide__arrow--prev {
  left: -2%;
}
.achievements .splide__pagination {
  gap: 10px;
}
.achievements .splide__pagination__page {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  padding: 0;
  position: relative;
  transition: background-color 0.2s ease;
  width: 7px;
  background-color: #d9d9d9;
}
.achievements .splide__pagination__page.is-active {
  background-color: var(--primary-color);
}
@media (max-width: 1199px) {
  .achievements {
    padding: 0 35px;
    padding-bottom: 90px;
  }
  .achievements .splide__slide img {
    max-width: calc(33vw - 45px);
  }
}
@media (max-width: 767px) {
  .achievements .splide__slide {
    padding-bottom: 40px;
  }
  .achievements .splide__slide img {
    max-width: calc(50vw - 45px);
  }
}

.feedback {
  color: var(--text-color-light);
  padding-bottom: 100px;
}
.feedback__wrapper {
  background-color: var(--text-color-dark);
  background-image: url(../assets/bg-planet.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  border-radius: 30px;
  padding: 80px max(80px, 50% - 570px);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .feedback__wrapper {
    padding: 80px 35px;
  }
}
.feedback .text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feedback h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
}
.feedback .capture {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.feedback .contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.feedback .contacts a {
  width: fit-content;
}
.feedback .socials-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 60px;
}
.feedback .form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
  box-sizing: border-box;
}
.feedback .form input,
.feedback .form textarea {
  font-family: Onest;
  outline: none;
  resize: none;
  color: var(--text-color-light);
  background-color: transparent;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 5px 10px 0px rgba(34, 34, 34, 0.1) inset;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.feedback .form input::placeholder,
.feedback .form textarea::placeholder {
  color: var(--text-color-light);
}
.feedback .form .btn {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 500;
}
.feedback .form .terms {
  font-size: 12px;
  font-weight: 400;
}
.feedback .form .terms a {
  text-decoration: underline;
}
@media (max-width: 1199px) {
  .feedback {
    position: relative;
    padding: 0;
  }
  .feedback__wrapper {
    border-radius: 0;
  }
  .feedback .bg-fixer {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--text-color-dark);
    bottom: 0;
    left: 0;
    border-top-right-radius: 30px;
  }
}
@media (max-width: 991px) {
  .feedback__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .feedback .form {
    max-width: 100%;
  }
  .feedback .contacts {
    gap: 10px;
  }
  .feedback .socials-wrapper {
    margin-top: 0;
    flex-direction: column;
    align-items: start;
  }
  .feedback .text {
    gap: 25px;
  }
}
@media (max-width: 575px) {
  .feedback {
    padding-bottom: 0;
  }
  .feedback__wrapper {
    background-position: bottom 0 left 70%;
    padding-bottom: 20px;
  }
  .feedback .form {
    padding: 0;
  }
  .feedback h2 {
    font-size: 37px;
    line-height: 43px;
  }
  .feedback .capture {
    font-size: 14px;
    line-height: 20px;
  }
  .feedback .socials-wrapper {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .feedback h2 {
    font-size: 32px;
  }
}

.footer {
  display: none;
}
@media (max-width: 575px) {
  .footer {
    background-color: var(--text-color-dark);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--accent-bg-color);
  }
}/*# sourceMappingURL=style.css.map */