body {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  min-height: 900px;
}
/* Контейнер */
.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
}
/*  Верхний текст */
.bread_crumbs {
  font-weight: bold;
  padding-top: 55px;
}
.title {
  font-weight: bold;
  font-size: 28px;
  margin-top: 46px;
}
/* Стили списка */
.header_list {
  margin-top: 75px;
}
.header_list__item {
  margin-top: 20px;
  list-style-image: url("../svg/list-circle.svg");
}
.header_list__item:first-child {
  margin-top: 0;
}
.header_list__item a {
  transition: ease 1s;
  font-weight: 800;
  position: relative;
  top: -3px;
  color: #fff;
  text-decoration: none;
}

/* Начало стилей платнет*/
.universe {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 310px;
  left: 200px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.orbit {
  transition: ease 1s;
  position: relative;
}
.orbit object {
  position: absolute;
}
.planet,
.sun {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.01em;
}
.planet {
  offset-rotate: 0deg;
  animation: move 0s linear infinite;
  animation-direction: reverse;
}
.sun {
  left: 80px;
  z-index: 5;
  font-weight: 600;
  font-size: 22px;
  background: linear-gradient(180deg, #5a3bb3 0%, rgba(143, 41, 146, 0.3) 100%);
  box-shadow: inset 0px 16px 20px rgba(0, 0, 0, 0.25);
  width: 307.31px;
  height: 296.14px;
}
.sun_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 307.31px;
  height: 296.14px;
  border-radius: 50%;
}
#products .planet {
  line-height: 15px;
  animation-duration: 100s;
  z-index: 4;
  font-weight: 600;
  width: 105px;
  height: 99px;
  background: linear-gradient(180deg, #005c84 0%, #1d3038 100%);
  offset-path: path(
    "M586 68l3 6v1a67 67 0 012 7v1l1 6v9s0 0 0 0v7h-1l-1 8v1l-2 6v1a101 101 0 01-3 8 115 115 0 01-15 27 179 179 0 01-32 34 292 292 0 01-64 45v1a495 495 0 01-145 57v1a687 687 0 01-162 19h-1a429 429 0 01-92-15s0 0 0 0a198 198 0 01-42-21v-1a101 101 0 01-21-22v-1l-4-6v-1l-3-6v-1a65 65 0 01-2-7v-1l-1-6v-1-8s0 0 0 0v-7h1l1-8v-1l2-6v-1a101 101 0 013-8 115 115 0 0115-27 178 178 0 0132-34 297 297 0 0164-45v-1a486 486 0 01130-53s0 0 0 0A669 669 0 01427 1a430 430 0 0192 15s0 0 0 0a196 196 0 0142 21v1a101 101 0 0121 22v1l4 6v1"
  );
}

#systems .planet {
  font-size: 18px;
  animation-name: move2;
  top: -75px;
  animation-duration: 80s;
  z-index: 3;
  width: 147px;
  height: 141px;
  background: linear-gradient(180deg, #1442a2 0%, #040a1e 100%);
  offset-path: path(
    "M756 88l2 7v1a82 82 0 012 7v1l1 7s0 0 0 0l1 8v8h-1v8s0 0 0 0a103 103 0 01-9 31 148 148 0 01-26 40s0 0 0 0a250 250 0 01-45 45 409 409 0 01-94 60v1a662 662 0 01-148 58 885 885 0 01-212 31l-1-1a589 589 0 01-126-17c1 0 0 0 0 0a269 269 0 01-57-27v-1a135 135 0 01-23-22l-5-6h-1l-3-6v-1l-3-7H7l-2-7s0 0 0 0a83 83 0 01-2-8l-1-1-1-6v-1-8H0l1-7v-1l1-8H1a103 103 0 0110-31 150 150 0 0125-39v-1a250 250 0 0146-45 423 423 0 0193-61 677 677 0 01164-62A858 858 0 01552 1s0 0 0 0a555 555 0 01110 18 272 272 0 0157 26v1a136 136 0 0124 22l4 6h1l4 6-1 1 4 7h1z"
  );
}

#systems object {
  top: -140px;
}

#solutions .planet {
  offset-distance: 85%;
  z-index: 2;
  cursor: pointer;
  line-height: 15px;
  font-weight: 600;
  left: 30px;
  top: -120px;
  width: 100.21px;
  height: 88.69px;
  background: linear-gradient(180deg, #1ea95e 0%, #101e22 100%);
}
#solutions .star {
  animation: pulse 10s linear infinite;
  offset-distance: 10%;
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #f0eebb;
  box-shadow: none;
  top: -120px;
  left: 50px;
}
#solutions object {
  top: -210px;
  z-index: 1;
}
#solutions .star,
#solutions .planet {
  animation: move3 50s linear infinite;
  animation-direction: reverse;
  offset-path: path(
    "M939 115a107 107 0 015 64 138 138 0 01-17 44v1a214 214 0 01-37 51v1a350 350 0 01-72 63s0 0 0 0a586 586 0 01-125 72v1a855 855 0 01-181 62v1a1052 1052 0 01-230 28 709 709 0 01-143-18 378 378 0 01-73-32 197 197 0 01-37-30 128 128 0 01-23-41v-1a107 107 0 01-5-39s0 0 0 0a122 122 0 0112-46v-1a184 184 0 0124-41 279 279 0 0154-58v-1a466 466 0 0191-65 718 718 0 01145-68A1011 1011 0 01728 4v1a577 577 0 01110 25 299 299 0 0156 30 170 170 0 0133 34 115 115 0 0112 21z"
  );
}
/* Стили pop-up`ов планет */
.invisible {
  opacity: 0 !important;
}
.hiden {
  opacity: 0 !important;
}
.hiden .planet,
.hiden .star {
  animation-play-state: paused !important;
}
/* Анимация солнца */
.sun .pop-up {
  width: auto;
  height: auto;
  z-index: -99;

  transition: ease 1s;
  opacity: 1;
  position: absolute;
  left: -150px;
}
.sun .pop-up object {
  width: auto;
  height: auto;
  transition: ease 50s;
}
.sun .invisible object {
  display: none;
}
.accent1 {
  transition: ease 1s;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 900px;
  background: radial-gradient(
    71.15% 323.79% at 81.93% 30.33%,
    rgba(145, 48, 241, 0.12) 7.85%,
    rgba(114, 25, 202, 0) 46.19%,
    rgba(80, 0, 159, 0) 100%
  );
}

/* анимация планеты решений */
#solutions.active .planet {
  animation-name: none;
}

#solutions #star1 {
  animation-name: moveStar1;
}
@keyframes moveStar1 {
  0% {
    offset-distance: 15%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 115%;
  }
}

#solutions #star2 {
  animation-name: moveStar2;
}
@keyframes moveStar2 {
  0% {
    offset-distance: 18%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 118%;
  }
}

#solutions #star3 {
  animation-name: moveStar3;
}
@keyframes moveStar3 {
  0% {
    offset-distance: 21%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 121%;
  }
}
#solutions #star4 {
  animation-name: moveStar4;
}
@keyframes moveStar4 {
  0% {
    offset-distance: 24%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 124%;
  }
}
#solutions #star5 {
  animation-name: moveStar5;
}
@keyframes moveStar5 {
  0% {
    offset-distance: 27%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 127%;
  }
}
#solutions #star6 {
  animation-name: moveStar6;
}
@keyframes moveStar6 {
  0% {
    offset-distance: 30%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 130%;
  }
}
#solutions #star7 {
  animation-name: moveStar7;
}
@keyframes moveStar7 {
  0% {
    offset-distance: 33%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 133%;
  }
}
#solutions #star8 {
  animation-name: moveStar8;
}
@keyframes moveStar8 {
  0% {
    offset-distance: 36%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 136%;
  }
}
#solutions #star9 {
  animation-name: moveStar9;
}
@keyframes moveStar9 {
  0% {
    offset-distance: 39%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 139%;
  }
}
#solutions #star10 {
  animation-name: moveStar10;
}
@keyframes moveStar10 {
  0% {
    offset-distance: 42%;
  }
  80% {
    transform: scale(1.2);
    background-color: #fff;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 1);
  }
  90% {
    transform: scale(1);
    background: #f0eebb;
    box-shadow: none;
  }
  100% {
    offset-distance: 142%;
  }
}

/* Анимации передвижения по орбите */
@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes move2 {
  0% {
    offset-distance: 20%;
  }
  100% {
    offset-distance: 120%;
  }
}

@keyframes move3 {
  0% {
    offset-distance: 10%;
  }
  100% {
    offset-distance: 110%;
  }
}
