body {
    background-color: chocolate;
}

.modal {
    will-change: height;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    overscroll-behavior: contain;
}
.helper {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 10px;
}
.helper::after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #000000a5;
    border-radius: 5px;
}

.modal-content {
    padding: 0 20px;
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.modal-content::after {
    content: "";
    display: block;
    height: 80px;
}
