nav {
  display: block;
}
nav .dropdown li {
  padding: 0 30px;
}
nav li:hover {
  cursor: pointer;
}
nav ul li .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
  min-width: 270px;
}
nav .dropdown li a::before {
  content: none;
}
nav .dropdown li a::after {
  width: 40px !important;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}
nav .dropdown li {
  text-align: center;
  position: relative;
  left: 10px;
}
nav .wrapper {
  padding-bottom: 20px;
}
nav .dropdown {
  will-change: scroll-position;
}
nav ul li:hover > ul,
nav ul li ul:hover {
  z-index: 99;
  margin-top: 10px;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 10px;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  align-items: center;
  gap: 10px;
  background: #2c5071;
  box-shadow: 0px -2px 40px 2px rgba(100, 146, 189, 0.3), 0px -2px 10px 3px rgba(39, 76, 113, 0.3), 0px 4px 4px rgba(28, 53, 83, 0.2), 0px 7px 15px 4px rgba(88, 151, 209, 0.2), 0px 4px 4px 2px rgba(24, 49, 72, 0.3), inset 0px -4px 4px rgba(103, 138, 171, 0.3);
  border-radius: 10px;
}
@media screen and (max-width: 980px) {
  nav ul li:hover > ul,
nav ul li ul:hover {
    position: relative;
    box-shadow: none;
    background: inherit;
    overflow: visible;
    max-height: none;
    align-items: flex-start;
    padding: 0px;
    padding-top: 10px;
    gap: 20px;
    padding-left: 15px;
  }
  nav ul li:hover > ul li,
nav ul li ul:hover li {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  nav ul li:hover > ul li a::after,
nav ul li ul:hover li a::after {
    content: none !important;
  }
}
nav .dropdown::-webkit-scrollbar {
  width: 30px;
  background: transparent;
}
nav .dropdown::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
nav .dropdown::-webkit-scrollbar-thumb {
  background: #204160;
  border-radius: 90px;
  width: 10px;
  border: 10px solid #2c5071;
}
nav ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

body {
  font-family: "Nunito", sans-serif;
}

.bg {
  overflow-x: hidden;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.ui-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.container,
section,
section,
header,
.container {
  padding: 0 max(20px, calc(50% - 640px));
}
@media screen and (max-width: 1350px) {
  .container,
section,
section,
header,
.container {
    padding: 0 max(20px, calc(50% - 460px));
  }
}
@media screen and (max-width: 980px) {
  .container,
section,
section,
header,
.container {
    padding: 0 max(20px, calc(50% - 329px));
  }
}
@media screen and (max-width: 650px) {
  .container,
section,
section,
header,
.container {
    padding: 0 max(20px, calc(50% - 240px));
  }
}
@media screen and (max-width: 480px) {
  .container,
section,
section,
header,
.container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 360px) {
  .container,
section,
section,
header,
.container {
    padding: 0 15px;
  }
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.accent-btn {
  outline: none;
  border: none;
  width: fit-content;
  transform: scale(1);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 80px;
  background: linear-gradient(278.58deg, #00b19f 23.79%, #5bcf90 111.14%);
  box-shadow: 0px -2px 40px 2px rgba(18, 129, 117, 0.2), 0px 4px 4px rgba(28, 83, 53, 0.25);
  border-radius: 20px;
  color: #f3f7fc;
  height: 73px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  transition: all ease 0.3s;
}
.accent-btn:hover {
  transform: scale(1.01);
  box-shadow: 0px -2px 10px 1px rgba(18, 129, 117, 0.2), 0px 4px 4px rgba(28, 83, 53, 0.25);
}
@media screen and (max-width: 480px) {
  .accent-btn {
    display: flex;
    width: 100%;
    padding: 20px 0;
  }
}

.accent-color {
  color: #00b19f;
}

.accent-img {
  position: relative;
  max-width: 100%;
}
.accent-img img {
  width: 100%;
}
.accent-img::after, .accent-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}
.accent-img::after {
  bottom: -16px;
  left: -16px;
  background: #3cc8ae;
  box-shadow: 0px -2px 10px 3px rgba(39, 76, 113, 0.1), 0px 7px 15px 4px rgba(88, 151, 209, 0.2), 0px 2px 4px 2px rgba(24, 49, 72, 0.2), inset 0px -4px 4px rgba(103, 138, 171, 0.2);
}
.accent-img::before {
  top: -16px;
  right: -16px;
  background: #b8dbfc;
  box-shadow: 0px -2px 10px 3px rgba(39, 76, 113, 0.1), 0px 7px 15px 4px rgba(88, 151, 209, 0.2), 0px 2px 4px 2px rgba(24, 49, 72, 0.2), inset 0px -4px 4px rgba(103, 138, 171, 0.2);
}
@media screen and (max-width: 480px) {
  .accent-img::after {
    bottom: 0;
    left: -8px;
  }
  .accent-img::before {
    top: -8px;
    right: -8px;
  }
}

.big-text {
  font-family: "DaxlinePro";
  font-weight: 900;
  font-size: 36px;
  line-height: 55px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #3f5870;
}

.plain-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #3f5870;
}

.section-title {
  max-width: 870px;
  position: relative;
  font-family: "DaxlinePro";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 73px;
  color: #3f5870;
  margin-top: 0;
  margin-bottom: 20px;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 150px;
  height: 3px;
  background-color: #3cc8ae;
}
@media screen and (max-width: 980px) {
  .section-title {
    font-size: 45px;
    line-height: 58px;
  }
  .section-title::after {
    top: 53px;
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: 42px;
  }
}

.mobile {
  display: none !important;
}
@media screen and (max-width: 980px) {
  .mobile {
    display: flex !important;
  }
}

@media screen and (max-width: 980px) {
  .desktop {
    display: none !important;
  }
}

.navigation {
  z-index: 10;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #00b19f;
  text-align: right;
  position: absolute;
  right: 0;
  gap: 20px;
}
.navigation a {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navigation a::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #3cc8ae;
}
.navigation a.active::after {
  content: "";
  border-radius: 0;
  display: inline-block;
  margin-left: 15px;
  width: 3px;
  height: 61px;
  background: #3cc8ae;
}

.go-to-top-btn {
  z-index: 100;
  position: fixed;
  right: 100px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  background: linear-gradient(316.7deg, #172f46 5.27%, #355574 112.4%);
  box-shadow: 0px -2px 40px 2px rgba(100, 146, 189, 0.3), 0px -2px 10px 3px rgba(39, 76, 113, 0.3), 0px 4px 4px rgba(28, 53, 83, 0.2), 0px 7px 15px 4px rgba(88, 151, 209, 0.2), 0px 4px 4px 2px rgba(24, 49, 72, 0.3), inset 0px -4px 4px rgba(103, 138, 171, 0.3);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}
.go-to-top-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px -2px 40px 5px rgba(100, 146, 189, 0.3), 0px -2px 10px 5px rgba(39, 76, 113, 0.3), 0px 4px 4px rgba(28, 53, 83, 0.2), 0px 7px 15px 5px rgba(88, 151, 209, 0.2), 0px 4px 4px 5px rgba(24, 49, 72, 0.3), inset 0px -4px 4px rgba(103, 138, 171, 0.3);
}
@media screen and (max-width: 980px) {
  .go-to-top-btn {
    right: 50px;
  }
}
@media screen and (max-width: 650px) {
  .go-to-top-btn {
    bottom: 15px;
    right: 15px;
  }
}

.col {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 980px) {
  .col {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 480px) {
  .col {
    gap: 25px;
  }
}

/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 134.4%;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #3f5870;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
}

/* Create a custom checkbox */
.checkmark {
  transition: all ease 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #b8dbfc;
  padding: 1px;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  border: 3px solid #b8dbfc;
  padding: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: url(../assets/images/icons/checbox.svg);
  position: absolute;
  display: none;
  top: -14px;
  left: -12px;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

header {
  overflow: visible;
  padding-top: 50px;
  color: #f3f7fc;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
@media screen and (max-width: 980px) {
  .top-nav {
    align-items: start;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.tel-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tel-label a {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}
.tel-label p {
  font-size: 16px;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .tel-label {
    align-items: center;
  }
}

.formKP {
  height: 55px;
  padding: 15px 25px;
  gap: 10px;
  background: linear-gradient(316.7deg, #172f46 5.27%, #355574 112.4%);
  border: 1px solid #3cc8ae;
  box-shadow: 0px -2px 10px 3px rgba(39, 76, 113, 0.1), 0px 7px 15px 4px rgba(88, 151, 209, 0.2), 0px 2px 4px 2px rgba(24, 49, 72, 0.2), inset 0px -4px 4px rgba(103, 138, 171, 0.2);
  border-radius: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-feature-settings: "pnum" on, "lnum" on;
  transition: box-shadow ease 0.3s;
}
.formKP:hover {
  box-shadow: 0px -2px 30px 10px rgba(39, 76, 113, 0.1), 0px 7px 15px 15px rgba(88, 151, 209, 0.2), 0px 2px 4px 15px rgba(24, 49, 72, 0.2), inset 0px -4px 15px rgba(103, 138, 171, 0.2);
}
@media screen and (max-width: 980px) {
  .formKP {
    width: min(100%, 360px);
    font-size: 25px;
    height: 78px;
  }
}
@media screen and (max-width: 480px) {
  .formKP {
    gap: 0;
  }
}
@media screen and (max-width: 360px) {
  .formKP {
    padding: 21px 10px;
  }
}

nav {
  padding: 20px 77px;
  box-sizing: border-box;
  background: linear-gradient(261.97deg, #172f46 -10.84%, #386591 104.62%);
  box-shadow: 0px -2px 10px 3px rgba(39, 76, 113, 0.1), 0px 3px 15px 4px rgba(88, 151, 209, 0.2), 0px 2px 4px 2px rgba(24, 49, 72, 0.2), inset 0px -2px 4px rgba(103, 138, 171, 0.2);
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
nav .links a {
  position: relative;
  transition: color 0.2s ease-in-out;
  color: #f3f7fc;
}
nav .links a #svg-arrow {
  stroke: #f3f7fc;
}
nav .links a svg {
  margin-left: 5px;
}
nav .links li:hover .wrapper a,
nav .links li:hover > a {
  color: #3cc8ae;
}
nav .links li:hover .wrapper a #svg-arrow,
nav .links li:hover > a #svg-arrow {
  stroke: #3cc8ae;
}
nav .links a:after,
nav .links a:before {
  will-change: width;
  bottom: -3px;
  left: 0;
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #225384;
  transition: width 0.3s ease-in-out;
  background: #00b19f;
  border-radius: 16px;
}
nav .links a:before {
  left: 30%;
  transition-delay: 0.2s;
}
nav .links li:hover a:after,
nav .links a:focus:after {
  width: 20%;
}
nav .links li:hover a:before,
nav .links a:focus:before {
  width: 70%;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1350px) {
  nav {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 980px) {
  nav {
    z-index: 100;
    padding: 0 max(20px, calc(50% - 329px));
    padding-top: 50px !important;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right ease 0.4s;
  }
  nav.opened {
    right: 0;
  }
  nav .cross {
    margin-left: auto;
  }
  nav .links {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    gap: 25px;
    font-size: 28px;
    max-height: 50%;
    padding-bottom: 10px;
  }
  nav .col {
    margin-top: 50px;
  }
}
@media screen and (max-width: 650px) {
  nav {
    padding: 0 max(20px, calc(50% - 240px));
  }
}
@media screen and (max-width: 480px) {
  nav {
    padding: 0 max(20px, calc(50% - 172px));
  }
  nav .links {
    margin-top: 70px;
    max-height: 45%;
  }
}
@media screen and (max-width: 360px) {
  nav {
    padding: 0 15px;
  }
}

.caption-with-line {
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.caption-with-line::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: #3cc8ae;
}

.hero {
  padding-top: 90px;
  color: #b8dbfc;
  padding-bottom: 270px;
}
.hero__caption {
  margin-bottom: 5px;
}
.hero__title {
  font-family: "DaxlinePro";
  font-weight: 900;
  font-size: 56px;
  line-height: 86px;
  color: #f3f7fc;
  max-width: 1000px;
  margin: 0;
  margin-bottom: 20px;
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
.hero__list li {
  display: flex;
  justify-content: start;
  align-items: center;
}
.hero__list li::before {
  content: "";
  display: inline-block;
  margin-left: 5px;
  border-radius: 100%;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background: #3cc8ae;
  margin-right: 10px;
}
.hero .btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.hero .caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 1350px) {
  .hero__title {
    max-width: 700px;
  }
}
@media screen and (max-width: 980px) {
  .hero {
    padding-top: 75px;
  }
}
@media screen and (max-width: 650px) {
  .hero__title {
    font-size: 42px;
    line-height: 64px;
  }
  .hero__list {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #b8dbfc;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    padding-bottom: 210px;
  }
  .hero .btn-wrapper {
    width: auto;
  }
}
@media screen and (max-width: 420px) {
  .hero {
    padding-bottom: 160px;
  }
}

.cost-calculation {
  color: #3f5870;
  padding-bottom: 220px;
}
.cost-calculation__content {
  position: relative;
  display: flex;
  gap: 70px;
  align-items: center;
}
.cost-calculation__img {
  transform: translateX(-210px);
  margin-right: -210px;
  max-width: 70%;
}
.cost-calculation .col {
  flex-direction: column;
  gap: 0;
  max-width: 520px;
}
.cost-calculation__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  font-feature-settings: "pnum" on, "lnum" on;
  margin: 0;
  margin-bottom: 20px;
}
.cost-calculation__caption, .cost-calculation__btn-caption {
  margin: 0;
  font-size: 18px;
  line-height: 128.9%;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 40px;
}
.cost-calculation__btn-caption {
  margin-top: 30px;
  margin-bottom: 20px;
}
.cost-calculation__bonuses {
  display: flex;
  gap: 40px;
}
.cost-calculation__bonuses .item {
  font-weight: 600;
  font-size: 18px;
  line-height: 128.9%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background: #ffffff;
  border: 1px solid #3cc8ae;
  border-radius: 90px;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .cost-calculation .col {
    max-width: 310px;
  }
  .cost-calculation__bonuses {
    gap: 20px;
  }
  .cost-calculation__bonuses .item {
    padding: 15px 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 980px) {
  .cost-calculation {
    padding-bottom: 0;
  }
  .cost-calculation .col {
    max-width: none;
  }
  .cost-calculation__bonuses {
    flex-direction: column;
    gap: 10px;
  }
}

.step {
  max-width: 100%;
}
.step .stage {
  grid-area: stage;
  position: relative;
  min-width: 120px;
  width: 120px;
  height: 120px;
  background: linear-gradient(278.58deg, #00b19f 23.79%, #5bcf90 111.14%);
  box-shadow: 0px -2px 40px 2px rgba(18, 129, 117, 0.2), 0px -2px 10px 3px rgba(46, 148, 129, 0.2), 0px 4px 4px rgba(28, 83, 53, 0.25), 0px 7px 10px 3px rgba(72, 194, 180, 0.6), 0px 4px 4px rgba(18, 138, 66, 0.25), inset 0px -4px 4px rgba(73, 191, 184, 0.6);
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DaxlinePro";
  font-weight: 900;
  font-size: 64px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #f3f7fc;
  line-height: 64px;
}
.step .stage-text {
  display: block;
  right: -20px;
  position: absolute;
  top: 230px;
  width: 245px;
  word-wrap: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 0.3em;
  color: #879eb5;
  opacity: 0.25;
  transform: rotate(-90deg);
}
.step .stage-line {
  position: absolute;
  width: 8px;
  background: linear-gradient(278.58deg, #00b19f 23.79%, #5bcf90 111.14%);
  box-shadow: 0px -2px 40px 2px rgba(18, 129, 117, 0.2), 0px -2px 10px 3px rgba(46, 148, 129, 0.2), 0px 4px 4px rgba(28, 83, 53, 0.25), 0px 7px 10px 3px rgba(72, 194, 180, 0.6), 0px 4px 4px rgba(18, 138, 66, 0.25), inset 0px -4px 4px rgba(73, 191, 184, 0.6);
  border-radius: 90px;
  height: 4451px;
  top: 0;
  z-index: -1;
}
.step__content {
  grid-template: "stage text card";
  grid-template-columns: auto auto auto;
  position: relative;
  margin-top: 70px;
  display: grid;
}
.step__text {
  grid-area: text;
  max-width: 460px;
  margin-left: -20px;
  margin-right: -35px;
}
.step__text h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1350px) {
  .step .stage-line {
    height: 5530px;
  }
  .step__content {
    grid-template-areas: "stage text" ". card";
    grid-template-columns: auto auto;
  }
  .step .card {
    margin-top: 55px;
  }
}
@media screen and (max-width: 980px) {
  .step {
    padding-bottom: 140px;
  }
  .step__content {
    grid-template-areas: "stage text" "card card";
  }
  .step .card {
    margin-top: 80px;
  }
  .step__text {
    margin-left: -90px;
  }
  .step .stage-line {
    height: 6430px;
  }
}
@media screen and (max-width: 650px) {
  .step .stage-line {
    height: 6800px;
  }
  .step__text {
    margin-right: 0;
    margin-left: -20px;
  }
  .step .stage {
    min-width: 110px;
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 480px) {
  .step .stage-line {
    height: 6850px;
  }
}
@media screen and (max-width: 450px) {
  .step .stage-line {
    height: 6930px;
  }
}
@media screen and (max-width: 436px) {
  .step .stage-line {
    height: 7000px;
  }
}
@media screen and (max-width: 410px) {
  .step .stage-line {
    height: 7130px;
  }
}
@media screen and (max-width: 400px) {
  .step .stage-line {
    height: 7230px;
  }
  .step__text {
    margin-left: 0;
  }
}
@media screen and (max-width: 387px) {
  .step .stage-line {
    height: 7360px;
  }
}
@media screen and (max-width: 380px) {
  .step .stage-line {
    height: 7500px;
  }
}
@media screen and (max-width: 380px) {
  .step .stage-line {
    height: 7500px;
  }
}
@media screen and (max-width: 374px) {
  .step .stage-line {
    height: 7650px;
  }
}
@media screen and (max-width: 362px) {
  .step .stage-line {
    height: 7750px;
  }
}
.step .card {
  margin-top: 30px;
  grid-area: card;
  position: relative;
  color: #172f46;
  width: auto;
  background: #f3f7fc;
  box-shadow: 0px -2px 10px rgba(39, 76, 113, 0.1), 0px 7px 15px rgba(88, 151, 209, 0.2), 0px 2px 4px rgba(24, 49, 72, 0.2), inset 0px -4px 4px rgba(103, 138, 171, 0.2);
  padding: 30px;
  padding-top: 60px;
  max-width: 561px;
  box-sizing: border-box;
  max-height: 310px;
}
.step .card .avatar {
  position: absolute;
  top: 0;
  right: 30px;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #c4c4c4;
  box-shadow: 0px -2px 40px 2px rgba(18, 129, 117, 0.2), 0px -2px 10px 3px rgba(46, 148, 129, 0.2), 0px 4px 4px rgba(28, 83, 53, 0.25), 0px 7px 10px 3px rgba(72, 194, 180, 0.6), 0px 4px 4px rgba(18, 138, 66, 0.25), inset 0px -4px 4px rgba(73, 191, 184, 0.6);
}
.step .card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.step .card__text {
  margin: 0;
  position: relative;
  z-index: 20;
}
.step .card__text::before {
  content: "";
  display: block;
  height: 20px;
  width: 268px;
  background: #5ef2d7;
  position: absolute;
  top: 51%;
  z-index: -1;
  left: -15px;
}
.step .card__bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.step .card__bottom p {
  margin: 0;
}
.step .card__bottom .job {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
@media screen and (max-width: 980px) {
  .step .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .step .card {
    max-height: none;
  }
  .step .card .avatar {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .step .card {
    padding: 24px;
    padding-top: 60px;
  }
}

.analysis {
  padding-bottom: 250px;
  position: relative;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.analysis__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.analysis__img {
  max-width: 50%;
  object-fit: contain;
}
.analysis .big-text {
  font-size: 40px;
  color: #b8dbfc;
  margin-top: 0;
  margin-bottom: 30px;
}
.analysis .plain-text {
  color: #b8dbfc;
  margin: 0;
}
.analysis__content {
  display: flex;
  flex-direction: column;
}
.analysis__input {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 25px;
  width: 350px;
  max-width: 100%;
  height: 65px;
  background: #f3f7fc;
  box-shadow: inset 0px -1px 6px 2px rgba(0, 177, 159, 0.1), inset 0px 4px 15px rgba(53, 182, 158, 0.2), inset 0px 2px 4px rgba(32, 39, 34, 0.15);
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #6e88a2;
  margin-top: 40px;
  margin-bottom: 20px;
}
.analysis .accent-btn {
  width: 350px;
}
@media screen and (max-width: 980px) {
  .analysis {
    flex-direction: column;
  }
  .analysis__img {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .analysis .big-text {
    margin-bottom: 10px;
  }
  .analysis__input {
    margin: 20px 0;
  }
  .analysis__bg {
    height: 1124px;
  }
}
@media screen and (max-width: 480px) {
  .analysis {
    padding-bottom: 170px;
  }
  .analysis__input,
.analysis .accent-btn {
    width: 100%;
  }
}

#modification {
  padding-bottom: 80px;
}
#modification .step__content {
  margin-top: 0;
}

.base-contractor {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 220px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #b8dbfc;
}
.base-contractor__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.base-contractor .big-text {
  color: #b8dbfc;
  max-width: 615px;
}
@media screen and (max-width: 1350px) {
  .base-contractor__bg {
    height: 1600px;
  }
}
@media screen and (max-width: 410px) {
  .base-contractor__bg {
    height: 1750px;
  }
}
@media screen and (max-width: 380px) {
  .base-contractor__bg {
    height: 1830px;
  }
}
.base-contractor .base {
  display: flex;
  gap: 60px;
}
.base-contractor .base__img {
  transform: translateX(-120px);
  margin-right: -120px;
}
.base-contractor .base__cases {
  display: flex;
  gap: 20px;
  align-items: center;
}
.base-contractor .base__cases .counter {
  min-width: 130px;
  width: 180px;
  height: 90px;
  font-family: "DaxlinePro";
  font-weight: 900;
  font-size: 72px;
  line-height: 100px;
  font-feature-settings: "tnum" on, "lnum" on;
  padding-left: 24px;
  color: #3cc8ae;
  background: linear-gradient(94.07deg, rgba(60, 200, 174, 0.18) 3.67%, rgba(60, 200, 174, 0.105) 103.68%);
  box-shadow: 0px -2px 10px 3px rgba(39, 76, 113, 0.1), 0px 7px 15px 4px rgba(88, 151, 209, 0.2), 0px 2px 4px 2px rgba(24, 49, 72, 0.2), inset 0px -4px 4px rgba(103, 138, 171, 0.2);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
}
@media screen and (max-width: 1350px) {
  .base-contractor .base {
    flex-direction: column-reverse;
  }
  .base-contractor .base__img {
    transform: translateX(0);
    margin-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .base-contractor .base__cases .counter {
    text-align: center;
    padding-left: 0;
  }
}
.base-contractor .contractor {
  padding-bottom: 30px;
  margin-top: 120px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.base-contractor .contractor__description {
  max-width: 540px;
}
.base-contractor .contractor__form {
  box-sizing: border-box;
  width: 488px;
  max-width: 100%;
  height: 498px;
  padding: 40px 29px;
  background: linear-gradient(94.07deg, rgba(232, 242, 241, 0.3) 3.67%, rgba(232, 242, 241, 0.3) 103.68%);
  box-shadow: 0px -1px 10px 3px rgba(143, 167, 162, 0.2), 0px 4px 4px rgba(134, 146, 139, 0.25), inset 0px -4px 4px rgba(142, 167, 165, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}
.base-contractor .contractor__form__caption {
  margin: 0;
  margin-bottom: 30px;
}
.base-contractor .contractor__form input:not([type=checkbox]) {
  outline: none;
  border: none;
  width: 100%;
  padding: 16px 25px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  background: #f3f7fc;
  box-shadow: inset 0px -1px 6px 2px rgba(0, 177, 159, 0.1), inset 0px 4px 15px rgba(53, 182, 158, 0.2), inset 0px 2px 4px rgba(32, 39, 34, 0.15);
  border-radius: 20px;
  margin-bottom: 20px;
}
.base-contractor .contractor__form input::placeholder {
  color: #879eb5;
}
.base-contractor .contractor__form .checkbox a {
  color: #5d81ff;
}
.base-contractor .contractor__form .checkbox a:hover {
  text-decoration: underline;
}
.base-contractor .contractor__form .accent-btn {
  width: 100%;
  margin-top: 25px;
}
@media screen and (max-width: 1350px) {
  .base-contractor .contractor__form {
    height: auto;
  }
}
@media screen and (max-width: 980px) {
  .base-contractor .contractor {
    flex-direction: column;
    margin-top: 20px;
  }
  .base-contractor .contractor__form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .base-contractor .contractor__form {
    padding: 30px 17px;
    font-size: 19.5738px;
  }
  .base-contractor .contractor__form .accent-btn {
    font-size: 20px;
    height: 53px;
  }
}

.areas {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  padding-top: 120px;
  padding-bottom: 280px;
  display: flex;
  justify-content: space-between;
}
.areas__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.areas__img {
  max-width: 60%;
  object-fit: contain;
  transform: translateX(20%);
  margin-left: -10%;
}
.areas__content {
  max-width: 640px;
}
.areas .big-text {
  color: #172f46;
  margin-bottom: 30px;
  margin-top: 0;
}
.areas .plain-text {
  margin: 0;
}
.areas .btn-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
@media screen and (max-width: 1350px) {
  .areas {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 980px) {
  .areas {
    flex-direction: column;
    margin-top: 0;
    padding-top: 50px;
    gap: 30px;
  }
  .areas__bg {
    height: 900px;
    left: -340px;
  }
  .areas__img {
    max-width: 100%;
    margin: 0 auto;
    transform: translate(0);
  }
  .areas__content {
    max-width: 100%;
  }
  .areas .btn-wrapper {
    margin: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  .areas .btn-wrapper {
    width: 100%;
  }
  .areas .accent-btn {
    width: 100%;
  }
}

#pdca {
  padding-bottom: 100px;
}
#pdca .stage-text {
  width: 310px;
  right: -50px;
  top: 265px;
}
#pdca .stage-line {
  width: 8px;
  height: 500px;
  background: #3cc8ae;
  opacity: 0.2;
  border-radius: 90px;
  box-shadow: none;
}
@media screen and (max-width: 1350px) {
  #pdca {
    padding-bottom: 0;
  }
  #pdca .stage-line {
    height: 750px;
  }
}
@media screen and (max-width: 650px) {
  #pdca .stage-line {
    height: 800px;
  }
}
@media screen and (max-width: 445px) {
  #pdca .stage-line {
    height: 900px;
  }
}
@media screen and (max-width: 400px) {
  #pdca .stage-line {
    height: 1000px;
  }
}
@media screen and (max-width: 370px) {
  #pdca .stage-line {
    height: 1100px;
  }
}

#bonus .stage {
  text-align: center;
  background: #fff;
  margin-left: -8px;
  box-shadow: none;
  border: 8px solid #00b19f;
}
#bonus .stage .number {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
  background: linear-gradient(278.58deg, #00b19f 23.79%, #5bcf90 111.14%);
}/*# sourceMappingURL=style.css.map */