{% set pages = [
    [
        "Главная", "index.html"
    ],
    [
        "Товар", "product.html"
    ],
    [
        "Цикл производства", "circle.html"
    ],
    [
        "О нас", "about.html"
    ]
] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="assets/fonts/fonts.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="scripts/main.js" defer="defer"></script>
        {% block links %}{% endblock links %}
    </head>
    <body>
        {% include 'components/header.njk' %}
        {% block content %}{% endblock content %}
        {% include 'components/footer.njk' %}
        {% block scripts %}{% endblock %}
    </body>
</html>
