<section class="advantages section-with-bg-pattern">
    <h2 class="title text-center">~ Наши преимущества ~</h2>
    <ul class="advantages__list">
        <li class="advantage">
            <p class="name">Преимущество</p>
            <p class="small-text ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
        </li>
        <li class="advantage">
            <p class="name">Преимущество</p>
            <p class="small-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
        </li>
        <li class="advantage">
            <p class="name">Преимущество</p>
            <p class="small-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
        </li>
    </ul>
</section>
