<section class="get_sale">
    <div class="section-wrapper">
        <h2 class="big-text text-center">Оставь заявку и получи скидку на OZON и Wildberries</h2>
        <form action="">
            <p class="form__caption">Заполните простую форму и получите скидку на обоих маркетплейсах!</p>
            <label>
                <span>Номер телефона</span>
                <input type="tel" data-tel-input="data-tel-input" placeholder="+7 (000) 00 00 00" maxlength="18"/>
            </label>
            <button class="accent-btn btn">Получить скидку!</button>
        </form>
    </div>
</section>
