<header>
    <a href="#" class="logo mobile-only"><img src="assets/Logo.svg" alt="logo">
    </a>
    <button class="hamburger hamburger--elastic mobile-only" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <nav class="nav">
        <a href="#" class="logo desktop-only"><img src="assets/Logo.svg" alt="logo">
        </a>
        <ul class="nav__links">
            {% for page, link in pages %}
                <li>
                    <a href="{{link}}">{{page}}</a>
                </li>
            {% endfor %}
        </ul>
        <form class="search-field desktop-only" autocomplete="off" action="results.html">
            <input type="search" placeholder="Поиск" autocomplete="off">
            <ul class="search-field__suggestions"></ul>
        </form>
        <div class="nav__contacts">
            <a href="tel:+70000000000;">+7 (000) 000 00 00</a>
            <a href="tel:+70000000000;">+7 (000) 000 00 00</a>
        </div>
        <div class="mobile-only">
            {% include 'components/socials.njk' %}
        </div>
    </nav>
</header>
