<div class="product-card">
    <img src="assets/product-img.png" alt="product">
    <div class="name">Наименование 1</div>
    <div class="rating" data-rating="4">
        <span class="rating__count">(67)</span></div>
    <p class="small-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
    <div class="btns">
        <a href="" class="btn buy-btn">Купить на
            <b>OZON</b>
        </a>
        <a href="" class="btn buy-btn">Купить на
            <b>WB</b>
        </a>
    </div>
</div>
