.product-card {
    width: 356px;
    max-width: 100%;
    .name {
        font-weight: 500;
        font-size: 35px;
        line-height: 24px;
        letter-spacing: 0.38px;
        margin-top: 25px;
        margin-bottom: 14px;
    }
    img {
        height: 300px;
        border-radius: 11px;
        object-fit: cover;
    }
    .btns {
        display: flex;
        gap: 10px;
    }
    .buy-btn {
        width: 173px;
        height: 50px;
        background: #15b3af;
        border-radius: 8px;
        color: #fff;
        display: flex;
        padding: 0 21px;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &:hover {
            background: #9e9e9e;
        }
    }

    @media screen and (max-width: 480px) {
        width: 334px;
        .buy-btn {
            padding: 0 12px;
        }
    }
}
