@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");
html.fixed {
    overflow: hidden;
}
@keyframes a {
    to {
        left: 125%;
    }
}
.games-banner {
    background-color: #000;
    padding: 1.875em 3.125em;
    text-align: center;
}
.games-banner:not(:first-child) {
    margin-top: 4.375em;
}
.games-banner__title {
    text-transform: uppercase;
    font-weight: 700;
}
.games-banner__title .games-banner__label {
    font-size: 3.125em;
}
@media only screen and (max-width: 1023px) {
    .games-banner__title .games-banner__label {
        font-size: 1.5em;
    }
}
.games-banner__subtitle {
    text-transform: uppercase;
    font-weight: 400;
    color: #fe1736;
}
.games-banner__subtitle .games-banner__label {
    font-size: 1.375em;
}
@media only screen and (max-width: 1023px) {
    .games-banner__subtitle .games-banner__label {
        font-size: 1.5em;
    }
}
.games-banner__descr {
    line-height: 1.6;
}
.btn,
.games-banner__descr {
    text-transform: uppercase;
}
.btn {
    position: relative;
    display: inline-block;
    color: #fff;
    fill: #000;
    min-width: 6.875em;
    padding: 0.9375em 1.5625em;
    background-color: #000;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    box-shadow: 0 0 0 2px #fe1736;
    transition: box-shadow 0.2s ease, color 0.2s ease;
}
.btn:before {
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    left: 50%;
    bottom: 0;
    z-index: 1;
    background-color: #fe1736;
    transform: translateX(-50%);
    transform-origin: center center;
    transition: width 0.2s ease;
}
.btn__label {
    position: relative;
    font-size: 0.8125em;
    z-index: 2;
}
.btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn.is-checked,
.btn:hover {
    box-shadow: 0 0 10px 2px #fe1736;
    color: #000;
}
.btn.is-checked:before,
.btn:hover:before {
    width: 100%;
}
.container {
    width: 101.25em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-sizing: border-box;
}
.container--flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
    .container {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }
}
.rich-text {
    padding: 3.125em 0;
}
.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
    text-transform: uppercase;
    font-weight: 700;
}
.rich-text h1 + p,
.rich-text h2 + p,
.rich-text h3 + p,
.rich-text h4 + p,
.rich-text h5 + p,
.rich-text h6 + p {
    margin-top: 1.5em;
}
.rich-text h2 {
    font-size: 2.75em;
}
.rich-text h3 {
    font-size: 2.125em;
}
.rich-text h3 + h4 {
    margin-top: 0.83333em;
}
.rich-text h4 {
    font-size: 1.5em;
}
.rich-text p {
    font-size: 1.25em;
    line-height: 1.7;
}
.rich-text p:not(:last-child) {
    margin-bottom: 2em;
}
.rich-text p + p {
    margin-top: -1em;
}
.rich-text p + ul {
    margin-top: -1.25em;
}
.rich-text ul {
    margin-bottom: 2.5em;
    padding-left: 2.5em;
    list-style-type: disc;
}
.rich-text ul li {
    font-size: 1.25em;
}
.rich-text ul li:not(:first-child) {
    margin-top: 1em;
}
.rich-text ul li span {
    display: inline-block;
}
.rich-text ul li span:not(:first-child) {
    margin-top: 1em;
}
.rich-text a {
    color: #fe1736;
    transition: color 0.2s ease;
}
.rich-text a:hover {
    color: #ffdf33;
}
.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -1.875em -0.9375em 0;
}
.grid__col {
    box-sizing: border-box;
    padding: 1.875em 0.9375em 0;
    margin: 0;
}
.grid__col--grow {
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.grid__col--xl-1 {
    width: 8.33333%;
}
.grid__col--xl-2 {
    width: 16.66667%;
}
.grid__col--xl-3 {
    width: 25%;
}
.grid__col--xl-4 {
    width: 33.33333%;
}
.grid__col--xl-5 {
    width: 41.66667%;
}
.grid__col--xl-6 {
    width: 50%;
}
.grid__col--xl-7 {
    width: 58.33333%;
}
.grid__col--xl-8 {
    width: 66.66667%;
}
.grid__col--xl-9 {
    width: 75%;
}
.grid__col--xl-10 {
    width: 83.33333%;
}
.grid__col--xl-11 {
    width: 91.66667%;
}
.grid__col--xl-12 {
    width: 100%;
}
.grid__col--xl-13 {
    width: 108.33333%;
}
.grid__col--xl-14 {
    width: 116.66667%;
}
.grid__col--xl-15 {
    width: 125%;
}
@media only screen and (max-width: 1279px) {
    .grid__col--lg-1 {
        width: 8.33333%;
    }
    .grid__col--lg-2 {
        width: 16.66667%;
    }
    .grid__col--lg-3 {
        width: 25%;
    }
    .grid__col--lg-4 {
        width: 33.33333%;
    }
    .grid__col--lg-5 {
        width: 41.66667%;
    }
    .grid__col--lg-6 {
        width: 50%;
    }
    .grid__col--lg-7 {
        width: 58.33333%;
    }
    .grid__col--lg-8 {
        width: 66.66667%;
    }
    .grid__col--lg-9 {
        width: 75%;
    }
    .grid__col--lg-10 {
        width: 83.33333%;
    }
    .grid__col--lg-11 {
        width: 91.66667%;
    }
    .grid__col--lg-12 {
        width: 100%;
    }
    .grid__col--lg-13 {
        width: 108.33333%;
    }
    .grid__col--lg-14 {
        width: 116.66667%;
    }
    .grid__col--lg-15 {
        width: 125%;
    }
}

@media only screen and (max-width: 1023px) {
    .grid__col--md-1 {
        width: 8.33333%;
    }
    .grid__col--md-2 {
        width: 16.66667%;
    }
    .grid__col--md-3 {
        width: 25%;
    }
    .grid__col--md-4 {
        width: 33.33333%;
    }
    .grid__col--md-5 {
        width: 41.66667%;
    }
    .grid__col--md-6 {
        width: 50%;
    }
    .grid__col--md-7 {
        width: 58.33333%;
    }
    .grid__col--md-8 {
        width: 66.66667%;
    }
    .grid__col--md-9 {
        width: 75%;
    }
    .grid__col--md-10 {
        width: 83.33333%;
    }
    .grid__col--md-11 {
        width: 91.66667%;
    }
    .grid__col--md-12 {
        width: 100%;
    }
    .grid__col--md-13 {
        width: 108.33333%;
    }
    .grid__col--md-14 {
        width: 116.66667%;
    }
    .grid__col--md-15 {
        width: 125%;
    }
}

@media only screen and (max-width: 767px) {
    .grid__col--sm-1 {
        width: 8.33333%;
    }
    .grid__col--sm-2 {
        width: 16.66667%;
    }
    .grid__col--sm-3 {
        width: 25%;
    }
    .grid__col--sm-4 {
        width: 33.33333%;
    }
    .grid__col--sm-5 {
        width: 41.66667%;
    }
    .grid__col--sm-6 {
        width: 50%;
    }
    .grid__col--sm-7 {
        width: 58.33333%;
    }
    .grid__col--sm-8 {
        width: 66.66667%;
    }
    .grid__col--sm-9 {
        width: 75%;
    }
    .grid__col--sm-10 {
        width: 83.33333%;
    }
    .grid__col--sm-11 {
        width: 91.66667%;
    }
    .grid__col--sm-12 {
        width: 100%;
    }
    .grid__col--sm-13 {
        width: 108.33333%;
    }
    .grid__col--sm-14 {
        width: 116.66667%;
    }
    .grid__col--sm-15 {
        width: 125%;
    }
}

@media only screen and (max-width: 479px) {
    .grid__col--xs-1 {
        width: 8.33333%;
    }
    .grid__col--xs-2 {
        width: 16.66667%;
    }
    .grid__col--xs-3 {
        width: 25%;
    }
    .grid__col--xs-4 {
        width: 33.33333%;
    }
    .grid__col--xs-5 {
        width: 41.66667%;
    }
    .grid__col--xs-6 {
        width: 50%;
    }
    .grid__col--xs-7 {
        width: 58.33333%;
    }
    .grid__col--xs-8 {
        width: 66.66667%;
    }
    .grid__col--xs-9 {
        width: 75%;
    }
    .grid__col--xs-10 {
        width: 83.33333%;
    }
    .grid__col--xs-11 {
        width: 91.66667%;
    }
    .grid__col--xs-12 {
        width: 100%;
    }
    .grid__col--xs-13 {
        width: 108.33333%;
    }
    .grid__col--xs-14 {
        width: 116.66667%;
    }
    .grid__col--xs-15 {
        width: 125%;
    }
}
.zaOorJ {
    color: #2252d8;
    border: 0;
    transition: fill 0.2s ease, color 0.2s ease, opacity 0.2s ease,
        border-color 0.2s ease;
    fill: #2252d8;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
}
.zaOorJ:hover {
    opacity: 0.5;
}
.zaOorJ__text {
    border-bottom: 1px solid;
    border-color: inherit;
}
.zaOorJ_dashed .zaOorJ__text {
    border-bottom-style: dashed;
}
.zaOorJ__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
}
.zaOorJ.is-disabled {
    pointer-events: none;
    fill: #ccc;
    color: #ccc;
    border-color: transparent;
}
.contacts,
.games {
    margin: 2.5em 0;
}
.contacts--banner,
.games--banner {
    margin: 0;
}
.games__title {
    text-transform: uppercase;
    font-weight: 700;
    color: #fe1736;
    letter-spacing: 0.3125em;
}
.games__title .games__label {
    font-size: 3.125em;
}
.contacts-wrap {
    width: 100%;
    padding: 3.125em 0;
}
.contacts-wrap__map {
    position: relative;
    width: 100%;
    height: 21.875em;
}
.contacts-wrap__iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.contacts-wrap__list {
    fill: #fe1736;
}
.contacts-wrap__list__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.contacts-wrap__list__item--link:hover {
    color: #fe1736;
    fill: #fe1736;
}
.contacts-wrap__list__item:not(:first-child) {
    margin-top: 1.25em;
}
.contacts-wrap__list__icon {
    margin-right: 1.25em;
    width: 1.25em;
    height: 1.25em;
    transition: fill 0.2s ease;
}
.contacts-wrap__list__label {
    font-size: 1.375em;
    transition: color 0.2s ease;
}
.footer {
    margin-top: auto;
    padding-top: 1.875em;
}
.footer__descr {
    padding: 1.5625em 0;
    border-top: 1px solid hsla(0, 0%, 100%, 0.7);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.7);
    margin-bottom: 6.25em;
}
.footer__descr .footer__label {
    font-size: 1em;
}
.footer__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.25em;
}
.footer__wrap:not(:first-child) {
    margin-top: 1.25em;
}
.footer__wrap:last-child {
    margin-bottom: 5em;
}
@media only screen and (max-width: 1023px) {
    .footer__wrap {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1023px) {
    .footer__age {
        margin-top: 2.5em;
    }
}
@media only screen and (max-width: 1023px) {
    .footer__social {
        margin: 1.25em 0;
    }
}
.footer__info__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer__info__item:not(:first-child) {
    margin-top: 2.1875em;
}
.footer__info__title {
    font-weight: 700;
    text-transform: uppercase;
}
.footer__info__title .footer__info__label {
    font-size: 1.875em;
}
.footer__info__descr .footer__info__label {
    font-size: 1.5em;
}
.footer__age {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 8.9375em;
    height: 8.9375em;
    border-radius: 100%;
    border: 2px solid;
}
.footer__age__label {
    font-size: 4.375em;
}
.footer-social {
    fill: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.footer-social__item:not(:first-child) {
    margin-left: 1.25em;
}
.footer-social--links .footer-social__item:not(:first-child) {
    margin-left: 1.875em;
}
.footer-social__link:hover .footer-social__icon {
    fill: #fff;
}
.footer-social__icon {
    width: 3.125em;
    height: 3.125em;
    transform: scale(0.8);
    fill: #fe1736;
    transition: fill 0.2s ease;
}
.footer-social__icon--android {
    width: 2.5em;
    height: 2.9375em;
}
.footer-social__icon--ios {
    width: 2.75em;
    height: 3.0625em;
}
.footer-social__icon--linux {
    width: 2.875em;
    height: 3.1875em;
}
.footer-social__icon--windows {
    width: 3.25em;
    height: 3.125em;
}
.footer-social__icon--fb {
    width: 1.25em;
    height: 2.5em;
}
.footer-social__icon--google {
    width: 2.125em;
    height: 2.25em;
}
.footer-social__icon--apple {
    width: 2.0625em;
    height: 2.5em;
}
.footer-social__icon--instagram {
    width: 2em;
    height: 2em;
}
.footer__copyright {
    background-color: #000;
    padding: 1.5625em 0;
}
.footer__copyright__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__copyright__wrap:not(:first-child) {
    margin-top: 1.25em;
}
@media only screen and (max-width: 1023px) {
    .footer__copyright__wrap {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}
.footer__copyright__text .footer__copyright__label {
    font-size: 1.125em;
}
.footer__nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (max-width: 1023px) {
    .footer__nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.footer__nav__item {
    padding: 0 2.5em;
}
.footer__nav__item:not(:first-child) {
    border-left: 1px solid;
}
.footer__nav__item:not(:last-child) {
    border-right: 1px solid;
}
.footer__nav__item:first-child {
    padding-left: 0;
}
.footer__nav__item:last-child {
    padding-right: 0;
}
@media only screen and (max-width: 1023px) {
    .footer__nav__item {
        padding: 2.5em 0 !important;
        border: 0 !important;
    }
}
.footer__nav__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: underline;
}
@media only screen and (min-width: 1024px) {
    .footer__nav__link .is-active,
    .footer__nav__link:hover {
        color: #fe1736;
    }
}
.footer__nav__label {
    font-size: 1.125em;
}
.games__list__grid {
    margin-top: 0;
}
.games__list__title .games__list__label {
    font-size: 1.5em;
}
.games__list__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media only screen and (max-width: 1023px) {
    .games__list__buttons {
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.games__list__button:not(:first-child) {
    margin-left: 1.25em;
}
.card {
    position: relative;
    display: block;
    border-radius: 2.5em;
    overflow: hidden;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
}
.card:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fe1736);
    transform: skewX(-25deg);
}
@media only screen and (min-width: 1024px) {
    .card:hover:before {
        animation: a 0.75s;
    }
}
.card__play {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    width: 7.5em;
    height: 7.5em;
    z-index: 2;
    border-radius: 100%;
    fill: #fe1736;
    box-shadow: 0.625em 0.625em 4.375em 1.25em #000;
    opacity: 0;
    transition: transform 0.2s ease 0.2s, opacity 0.2s ease;
}
.card__bg {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    display: block;
}
.card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
    width: 0;
    min-width: 100%;
    min-height: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.625em 0;
    z-index: 5;
    transition: transform 0.2s ease;
    background: rgba(7, 13, 27, 0.6);
    background: linear-gradient(
        90deg,
        rgba(7, 13, 27, 0.6) 0%,
        rgba(11, 28, 51, 0.6) 48%,
        rgba(6, 5, 12, 10.6) 100%
    );
    border-top: 2px solid #fe1736;
}
.header.sticky {
    transform: translateY(-100%);
}
@media only screen and (max-width: 1023px) {
    .header__order--first {
        -ms-flex-order: 1;
        order: 1;
    }
    .header__order--second {
        -ms-flex-order: 2;
        order: 2;
    }
    .header__order--third {
        -ms-flex-order: 3;
        order: 3;
    }
}
.header__logo {
    margin-right: 1.875em;
}
.header__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (min-width: 1024px) {
    .header__buttons {
        display: none;
        width: 0;
    }
}
@media only screen and (max-width: 1023px) {
    .header__buttons {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
.header__button:not(:first-child) {
    margin-left: 1.875em;
}
.logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.logo__icon {
    display: block;
    position: relative;
    overflow: hidden;
    width: 9.375em;
    margin-right: 0.625em;
    fill: #fff;
}
.logo__svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
    width: 0;
    min-width: 100%;
    min-height: 100%;
}
.logo__name {
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.logo__name--accent {
    color: #fe1736;
}
.burger {
    display: block;
    position: relative;
    width: 3.125em;
    height: 2.1875em;
    z-index: 4;
    cursor: pointer;
}
@media only screen and (min-width: 1024px) {
    .burger {
        display: none;
    }
}
.burger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: width 0.2s ease, transform 0.2s ease;
}
.burger__line--top {
    top: 0;
}
.burger.is-active .burger__line--top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.burger__line--mid {
    top: 50%;
    transform: translateY(-50%);
}
.burger.is-active .burger__line--mid {
    display: none;
}
.burger__line--bottom {
    bottom: 0;
}
.burger.is-active .burger__line--bottom {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
.intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 50em;
}
.intro--page {
    min-height: 37.5em;
}
.intro__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
    width: 0;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: -0.1875em;
}
.intro__container {
    position: relative;
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
.intro__title {
    text-align: center;
    line-height: 1;
    font-weight: 700;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #fff;
}
.intro__title .intro__label {
    font-size: 4.6875em;
}
.intro__subtitle {
    text-align: center;
    line-height: 1.2;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    color: #fe1736;
}
.intro__subtitle .intro__label {
    font-size: 1.375em;
}
@media only screen and (max-width: 1023px) {
    .intro__subtitle,
    .intro__title {
        margin-right: 0;
    }
}
.cookie {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 25em;
    padding: 1.875em 1.25em;
    background-color: #fff;
    border-radius: 1.25em 1.25em 0 0;
    z-index: 2;
    color: #000;
}
.cookie__title {
    font-size: 1.125em;
    margin-bottom: 1.25em;
    text-align: center;
}
.cookie__wrap {
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.25em;
}
.cookie__wrap .btn {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: center;
    justify-content: center;
}
.cookie__wrap .btn:not(:first-child) {
    margin-left: 1.25em;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: auto;
}
.modal-overlay.is-active {
    display: -ms-flexbox;
    display: flex;
}
.modal {
    display: none;
    position: relative;
    z-index: 7;
    width: 30em;
    background-color: #16003b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.modal.is-active {
    display: block;
}
.modal__header {
    text-transform: uppercase;
    background-color: #000;
    color: #fe1736;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.25em 1.875em;
}
.modal__header .modal__label {
    font-size: 1.6875em;
}
.modal__close {
    position: relative;
    width: 1.4375em;
    height: 1.4375em;
}
.modal__close:after,
.modal__close:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: #fe1736;
}
.modal__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__form {
    padding: 2.5em 1.875em 1.25em;
}
.modal__form {
    color: #fff;
}
.modal__form__wrap {
    text-transform: uppercase;
    margin-bottom: 2.5em;
    border-bottom: 1px solid #fff;
    padding: 0 0 0.5em 0.3125em;
}
.modal__form__input {
    font-size: 1.0625em;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
}
.modal__form__input::-webkit-input-placeholder {
    color: #fff;
}
.modal__form__input::-moz-placeholder {
    color: #fff;
}
.modal__form__input:-ms-input-placeholder,
.modal__form__input::-ms-input-placeholder {
    color: #fff;
}
.modal__form__input::placeholder {
    color: #fff;
}
.modal__form__button {
    display: block;
    width: 100%;
}
.modal__form__accept {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.25em;
    cursor: pointer;
}
.modal__form__checkbox {
    margin-right: 0.625em;
}
.modal__form__warning {
    text-align: center;
    margin-top: 2.5em;
    text-transform: uppercase;
}
.modal__form__warning .modal__form__label {
    font-size: 0.9375em;
}
.modal__form__link {
    color: #fe1736;
}
.skip {
    display: block;
    padding: 0.625em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 1.25em auto;
}
.skip__label {
    cursor: pointer;
    text-decoration: underline;
}
.skip__label:hover {
    text-decoration: none;
}
.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (min-width: 1024px) {
    .menu__item:not(:first-child) {
        margin-left: 2.8125em;
    }
}
@media only screen and (max-width: 1023px) {
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: content-width;
        background: rgba(7, 13, 27, 0.95);
        background: linear-gradient(
            90deg,
            rgba(7, 13, 27, 0.95) 0%,
            rgba(11, 28, 51, 0.95) 48%,
            rgba(6, 5, 12, 0.95) 100%
        );
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 6.25em 6.25em 3.125em;
        z-index: 3;
        transform: translateX(150%);
        transition: transform 0.2s ease;
        box-shadow: 0 0 3.125em 0.625em #fe1736;
    }
    .menu.is-active {
        transform: translateX(0);
    }
    .menu__item:not(:first-child) {
        margin-top: 2.8125em;
    }
}
.menu__link {
    position: relative;
    text-transform: uppercase;
}
.menu__link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.625em;
    width: 0;
    height: 1px;
    background-color: #fe1736;
    transition: width 0.2s ease;
}
.menu__link.is-active,
.menu__link:hover {
    color: #fe1736;
}
.menu__link.is-active:before,
.menu__link:hover:before {
    width: 100%;
}
.menu__label {
    font-size: 1.375em;
}
@media only screen and (max-width: 1023px) {
    .menu__label {
        font-size: 2.1875em;
    }
}
.full-games {
    padding: 3.125em 0;
}
.full-games__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -1.875em;
}
.full-games__list__item {
    padding: 1.875em 0;
    border-bottom: 1px solid #fff;
}
@media only screen and (min-width: 1024px) {
    .full-games__list__item {
        width: calc(50% - 1.25em);
    }
}
.full-games__list__link {
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.full-games__list__link:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fe1736);
    transform: skewX(-25deg);
}
@media only screen and (min-width: 1024px) {
    .full-games__list__link:hover:before {
        animation: a 0.75s;
    }
}
@media only screen and (max-width: 1023px) {
    .full-games__list__link {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
.full-games__list__preview {
    position: relative;
    overflow: hidden;
    width: 12.5em;
    height: 12.5em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.full-games__list__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
    width: 0;
    min-width: 100%;
    min-height: 100%;
}
.full-games__list__descr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 0.625em 1.875em;
}
@media only screen and (max-width: 1023px) {
    .full-games__list__descr {
        margin-left: 0;
        padding: 1.875em 0;
    }
}
.full-games__list__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.25em;
    color: #fe1736;
}
.full-games__list__title .full-games__list__label {
    font-size: 1.875em;
}
.full-games__list__text {
    line-height: 1.4;
}
.full-games__list__label,
.full-games__list__text .full-games__list__label {
    font-size: 1.125em;
}
.home .intro__decor--3 {
    top: 25em;
}
@media only screen and (max-width: 1023px) {
    .home .intro__decor--3 {
        top: 34.375em;
    }
}
.home .intro__decor--4 {
    top: 21.25em;
}
@media only screen and (max-width: 1023px) {
    .home .intro__decor--4 {
        top: 31.875em;
    }
}
