{% set title = "article" %}
{% extends "./components/_layout.njk" %}
{# styles #}
{% block links %}
    {# стили страницы #}
    <link rel="stylesheet" href="css/article-page.css">
    <link rel="stylesheet" href="css/news.css">
{% endblock links %}
{# content #}
{% block content %}
    <article cclass="article">
        <div class="article__image container"><img src="./assets/article-image.png" alt="article"></div>
        <div class="container">
            <div class="article__info">
                <p class="published">Опубликовано: 19 сентября 2022</p>
                <p class="views">167 просмотров</p>
            </div>
            <h3 class="big-text article__title">Заголовок новости</h3>
            <div class="article__content">
                <p>When just 200 Western monarch butterflies arrived in the Pismo Beach Butterfly Grove from their northerly migration last year, park rangers feared the treasured insect would soon be gone forever.
                    <br>
                    <br>
                    This year, however, volunteers tallied their numbers at over 100,000, a spectacular swarm of hope that traveled down from as far north as Canada to the spend the winter on the California coast.
                    <br>
                    <br>
                    It’s expected that the monarch butterfly will be placed on the Endangered Species List soon, due to declines in both western and eastern monarch butterfly numbers. Genetically indistinguishable, they are separate merely for the fact that monarchs living and migrating east of the Rockies overwinter in Mexico, while those on the western side of the Rockies overwinter along California’s west coast.</p>
                <p>It’s expected that the monarch butterfly will be placed on the Endangered Species List soon, due to declines in both western and eastern monarch butterfly numbers. Genetically indistinguishable, they are separate merely for the fact that monarchs living and migrating east of the Rockies overwinter in Mexico, while those on the western s ide of the Rockies overwinter along California’s west coast.
                    <br>
                    <br>
                    This year, the monarchs arrived early—and in droves. The Xerces Society for Invertebrate Conservation held their annual Thanksgiving count, and volunteers arriving at the break of dawn to count butterflies still lying quietly on tree trunks found a living curtain of orange and black. Early estimates put the tally at 100,000 individuals.
                    <br>
                    <br>The butterfly boom brought joy to gardeners and park rangers alike.
                    <br>
                    <br>
                    Danielle Bronson recounted, it was the the sight of monarchs covering every square inch of bark and branch that spurred her with the desire to become a park ranger when she was young. To see the monarchs return this year in such numbers was special.
                    <br>
                    <br>
                    “Last year was devastating, but this year I’m very hopeful,” she told the Christian Science Monitor.<br>
                    <br>Xerces says the Biden Administration’s spending bill includes $10 million over five years to be given for building monarch habitat west of the Rockies, such as replenishing the population of native milkweed plants, particularly along highways and power lines where nothing else is being done with the land.
                </p>
                <p>When just 200 Western monarch butterflies arrived in the Pismo Beach Butterfly Grove from their northerly migration last year, park rangers feared the treasured insect would soon be gone forever.
                    <br>
                    <br>
                    This year, however, volunteers tallied their numbers at over 100,000, a spectacular swarm of hope that traveled down from as far north as Canada to the spend the winter on the California coast.
                    <br>
                    <br>
                    It’s expected that the monarch butterfly will be placed on the Endangered Species List soon, due to declines in both western and eastern monarch butterfly numbers. Genetically indistinguishable, they are separate merely for the fact that monarchs living and migrating east of the Rockies overwinter in Mexico, while those on the western side of the Rockies overwinter along California’s west coast.</p>
                <p>It’s expected that the monarch butterfly will be placed on the Endangered Species List soon, due to declines in both western and eastern monarch butterfly numbers. Genetically indistinguishable, they are separate merely for the fact that monarchs living and migrating east of the Rockies overwinter in Mexico, while those on the western s ide of the Rockies overwinter along California’s west coast.
                    <br>
                    <br>
                    This year, the monarchs arrived early—and in droves. The Xerces Society for Invertebrate Conservation held their annual Thanksgiving count, and volunteers arriving at the break of dawn to count butterflies still lying quietly on tree trunks found a living curtain of orange and black. Early estimates put the tally at 100,000 individuals.
                    <br>
                    <br>The butterfly boom brought joy to gardeners and park rangers alike.
                    <br>
                    <br>
                    Danielle Bronson recounted, it was the the sight of monarchs covering every square inch of bark and branch that spurred her with the desire to become a park ranger when she was young. To see the monarchs return this year in such numbers was special.
                    <br>
                    <br>
                    “Last year was devastating, but this year I’m very hopeful,” she told the Christian Science Monitor.<br>
                    <br>Xerces says the Biden Administration’s spending bill includes $10 million over five years to be given for building monarch habitat west of the Rockies, such as replenishing the population of native milkweed plants, particularly along highways and power lines where nothing else is being done with the land.
                </p>
                <p>When just 200 Western monarch butterflies arrived in the Pismo Beach Butterfly Grove from their northerly migration last year, park rangers feared the treasured insect would soon be gone forever.
                    <br>
                    <br>
                    This year, however, volunteers tallied their numbers at over 100,000, a spectacular swarm of hope that traveled down from as far north as Canada to the spend the winter on the California coast.
                    <br>
                    <br>
                    It’s expected that the monarch butterfly will be placed on the Endangered Species List soon, due to declines in both western and eastern monarch butterfly numbers. Genetically indistinguishable, they are separate merely for the fact that monarchs living and migrating east of the Rockies overwinter in Mexico, while those on the western side of the Rockies overwinter along California’s west coast.</p>
                <p>It’s expected that the monarch butterfly will be placed on the Endangered Species List soon, due to declines in both western and eastern monarch butterfly numbers. Genetically indistinguishable, they are separate merely for the fact that monarchs living and migrating east of the Rockies overwinter in Mexico, while those on the western s ide of the Rockies overwinter along California’s west coast.
                    <br>
                    <br>
                    This year, the monarchs arrived early—and in droves. The Xerces Society for Invertebrate Conservation held their annual Thanksgiving count, and volunteers arriving at the break of dawn to count butterflies still lying quietly on tree trunks found a living curtain of orange and black. Early estimates put the tally at 100,000 individuals.
                    <br>
                    <br>The butterfly boom brought joy to gardeners and park rangers alike.
                    <br>
                    <br>
                    Danielle Bronson recounted, it was the the sight of monarchs covering every square inch of bark and branch that spurred her with the desire to become a park ranger when she was young. To see the monarchs return this year in such numbers was special.
                    <br>
                    <br>
                    “Last year was devastating, but this year I’m very hopeful,” she told the Christian Science Monitor.<br>
                    <br>Xerces says the Biden Administration’s spending bill includes $10 million over five years to be given for building monarch habitat west of the Rockies, such as replenishing the population of native milkweed plants, particularly along highways and power lines where nothing else is being done with the land.
                </p>
            </div>
        </div>
    </article>
</section>
{% include "components/news.njk" %}
{% endblock %}
