<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ссылки</title>
        <style>
            a {
                display: block;
                font-size: 40px;
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <a href="index.html">Главная</a>
        <a href="product.html">Товар</a>
        <a href="results.html">Результаты поиска</a>
        <a href="article.html">Новость</a>
        <a href="about.html">О нас</a>

    </body>
</html>
